<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Home</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <form novalidate [formGroup]="searchForm" >
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="card-title mb-0">Search By CNIC</h5>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">CNIC Number</label>
                                            <input type="text" formControlName="cnic" class="form-control" placeholder="Enter CNIC Number">
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-2">
                                        <div class="form-group mt-2">
                                            <label for="formGroupExampleInput"></label>
                                            
                                            <button class="button-success mt-4" *ngIf="loaderCNIC" > <span class="spinner-border " role="status" aria-hidden="true"></span> Capturring</button>
                                            <button class="button-success mt-4" *ngIf="!loaderCNIC" (click)="serchBycnic(captureuser)"><i class="fa fa-eye"></i> Capture</button>
                                            <!-- captureuser.show() -->
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <h5 class="card-title mb-0 text-center">OR</h5>
                                    </div>
                                    <!-- <hr class="hr-gray mx-3 my-4"> -->
                                    
                                    <!-- //-------------------search by toekn--------- -->
                                    <div class="col-md-12">
                                        <h5 class="card-title mb-0">Search By Token</h5>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Token ID</label>
                                            <input type="text" formControlName="token" class="form-control" placeholder="Enter Token">
                                        </div>
                                    </div>
                                   
                                    <div class="col-md-2">
                                        <div class="form-group mt-2">
                                            <label for="formGroupExampleInput"></label>
                                            <button class="button-success mt-4" *ngIf="loaderToken" ><span class="spinner-border " role="status" aria-hidden="true"></span> Capturing</button>
                                            <button class="button-success mt-4" *ngIf="!loaderToken" (click)="serchByToken(captureuser2)"><i class="fa fa-eye"></i> Capture</button>
                                            <!-- captureuser.show() -->
                                        </div>
                                    </div>
                                    <hr class="hr-gray mx-3 my-4">
                                    <div class="col-md-12">
                                        <div class="form-group float-right">
                                            <button class="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                                                <i class="fa fa-plus"></i> New Registration
                                            </button>
                                        </div>
                                        <h4>Add Patient</h4>
                                    </div>
                                </div>
                                <!-- -------------------search by token------------ -->
                               
                            </form>
                            <form  [formGroup]="regisForm">
                               
                                <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Full Name</label>
                                                <input type="text" formControlName="firstname" class="form-control" placeholder="Enter Patient Name">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Father Name</label>
                                                <input type="text" formControlName="f_hName" class="form-control" placeholder="Enter Patient Father Name">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Mobile Number</label>
                                                <input type="text" formControlName="cellNo" class="form-control" placeholder="Enter Mobile Number">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Gender</label>
                                            <select class="form-control" formControlName="gender">
                                                <option>Select Gender</option>
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <p>Gender</p>
                                            <div class="custom-radio custom-control-inline mr-md-5 mt-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="gridRadios21" value="male">
                                                    <label class="form-check-label">Male</label>
                                                </div>
                                            </div>
                                            <div class="custom-radio custom-control-inline mr-md-5 mt-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" id="gridRadios31" value="female">
                                                    <label class="form-check-label">Female</label>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">CNIC Number</label>
                                                <input type="number" formControlName="cnic" class="form-control" placeholder="Enter CNIC Number" >
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Date Of Birth</label>
                                                <input type="text" formControlName="dob" class="form-control"  placeholder="Start Date" #datepickerYMD="bsDatepicker" bsDatepicker  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placement="top">
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group mt-5 ml-4">
                                                <label for="formGroupExampleInput"><b>OR</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Year</label>
                                                <input type="number" formControlName="year" class="form-control" placeholder="Enter Year">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Months</label>
                                                <input type="number" formControlName="months" class="form-control" placeholder="Months">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Address</label>
                                                <input type="text" formControlName="address" class="form-control" placeholder="Enter Patient Address">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Caste</label>
                                                <input type="text" class="form-control" placeholder="Enter Patient Caste">
                                            </div>
                                        </div> -->
                                        <div class="col-md-4">
                                            <div class="form-groupp">
                                                <label for="formGroupExampleInput">Villege</label>
                                                <input type="text" formControlName="village" class="form-control" placeholder="Enter Patient Villege">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>District</label>
                                            <select class="form-control" formControlName="district" (change)="onselectDist($event)">
                                                <option *ngFor="let dis of distResponseArray; let z=index" [value]="dis">{{dis.name}}</option>
                                                
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="" for="inputState">Tehsil/Taluka</label>
                                            <select class="form-control" formControlName="tehsil_city">
                                                <option>EkkaGhund</option>
                                                <option>Baizai</option>
                                                <option>HaleemZai</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="" for="inputState">UC</label>
                                            <select class="form-control" formControlName="UC">
                                                <option>ABC</option>
                                                <option>XYZ</option>
                                                <option>ABC</option>
                                                <option>XYZ</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group mt-2">
                                                <button class="button-danger mr-2 mt-4" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                                                    <i class="fa fa-remove"></i> Cancel 
                                                </button>
                                                <button class="button-success mt-4" (click)="registerNewPat(regisForm.value)"><i class="fa fa-check-square"></i> Add Patient</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- model for View patient start-->
                            <ng-template  #captureuser >
                                
                                        <div class="modal-header">
                                            <h4 id="dialog-sizes-name1" class="modal-title pull-left">Patients Data</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                <span aria-hidden="true"><i class="ti-close"></i></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="table-responsive">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark text-center">
                                                            <th>S.No</th>
                                                            <th>Name/Father Name</th>
                                                            <th>Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr colspan='4' *ngIf="nicResponseArray.length==0" class="text-center">No data available</tr>
                                                        <tr  class="text-center" *ngFor="let ncRes of nicResponseArray; let i=index">
                                                            <td>{{i+1}}</td>
                                                            <td>
                                                                <!-- <img class="mr-3" src="../../../assets/images/profile-avatar.png"> -->
                                                                <span>{{ncRes.firstname}} / {{ncRes.f_hName}}</span>
                                                            </td>
                                                            <td>{{ncRes.DateCreated|date}}</td>
                                                            <td><a href="javascript:void(0)" (click)="gotoAdmitDetails(ncRes)"  class="text-info">Detail</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                   
                            </ng-template>
                            <!-- model for View patient end-->
                             <!-- model for View patient start-->
                             <ng-template  #captureuser2 >
                                
                                <div class="modal-header">
                                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">patient Data</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark text-center">
                                                    <th>S.No</th>
                                                    <th>Name/Father Name</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr colspan='4' *ngIf="tokenResponseObj==undefined" class="text-center"> No data available</tr>
                                                <tr class="text-center"  *ngIf="tokenResponseObj!=undefined">
                                                    <td>{{1}}</td>
                                                    <td>
                                                        <!-- <img class="mr-3" src="../../../assets/images/profile-avatar.png"> -->
                                                        <span>{{tokenResponseObj.firstname}} / {{tokenResponseObj.f_hName}}</span>
                                                    </td>
                                                    <td>{{tokenResponseObj.DateCreated|date}}</td>
                                                    <td><a href="javascript:void(0)" (click)="gotoAdmitDetails(tokenResponseObj)"  class="text-info">Detail</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                           
                    </ng-template>
                    <!-- model for View patient end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>