<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Print
                                    Prescription</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="row" *ngIf="!userLoader">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <h2 class="text-center"><b> {{Details.hospitalName}} </b></h2>
                                    <h6 class="text-center mb-2"><b>{{patInfo.departmentName}} Discharge Card</b></h6>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 mb-4">
                                    <h6><b>EMR NO :</b> <span class="ml-3"> {{patInfo.token}}</span></h6>
                                    <h6><b>Patient Name :</b> <span class="ml-3"> {{userList.firstname}}  </span>
                                    </h6>
                                    <h6><b>Father / Husband's Name : </b><span class="ml-3">{{patInfo.f_hName}}</span> </h6>
                                    <h6><b>CNIC : </b><span class="ml-3">{{patInfo.cnic}}</span> </h6>
                                    <h6><b>DOB :</b> <span class="ml-3">  <span *ngIf="patInfo.dob!='0000-00-00 00:00:00'">{{patInfo.dob | date}} </span></span>
                                    </h6>
                                    <h6><b>Gender : </b><span class="ml-3 text-capitalize">{{patInfo.gender}}</span></h6>
                                    <!-- <h6><b>Consulting Doctor :</b> <span class="ml-3">{{userList.docFName}} {{userList.docLNmae}}</span><span> ({{userList.userName}})</span></h6> -->
                                    <h6><b>Discharged : </b><span class="ml-3 text-capitalize">{{userList.dischargeDate | date}}</span></h6>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <img class="" src="../../../../../assets/images/merf.png" width="200" height="100">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12" style="border-bottom: #000 2px solid;">
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5" style="border-right: #000 2px solid;">
                                    <!-- <h5 class="mb-1 mt-4"><span class="colorback" ><b> Vitals : </b></span></h5>
                                    <h6 class="mb-1 ml-4">
                                        <span *ngIf="userList[0].vitals.bps=='' && userList[0].vitals.pulse==''
                                         && userList[0].vitals.weight=='' && userList[0].vitals.height=='' && userList[0].vitals.temperature==''
                                         && userList[0].vitals.oxygen_saturation==''"   > Not Added</span> 
                                        
                                   </h6>
                                    <h6 class="mb-1 ml-4">
                                         <span *ngIf="userList[0].vitals.bps==''" > </span> 
                                         <span *ngIf="userList[0].vitals.bps!=''">BP:<span class="ml-5" > {{userList[0].vitals.bps}} </span></span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                      
                                        <span *ngIf="userList[0].vitals.pulse==''" > </span> 
                                        <span *ngIf="userList[0].vitals.pulse!=''">Pulse (Per Min):<span class="ml-5" >  {{userList[0].vitals.pulse}} </span></span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                        
                                        <span *ngIf="userList[0].vitals.weight==''" > </span> 
                                        <span *ngIf="userList[0].vitals.weight!=''"> Weight(Kg):<span class="ml-5" >  {{userList[0].vitals.weight}} </span></span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                       
                                        <span *ngIf="userList[0].vitals.height==''" > </span> 
                                        <span *ngIf="userList[0].vitals.height!=''">  Height (cm):<span class="ml-5" >  {{userList[0].vitals.height}} </span></span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                        
                                        <span *ngIf="userList[0].vitals.temperature==''" > </span> 
                                        <span *ngIf="userList[0].vitals.temperature!=''">  Temprature(F):<span class="ml-5" >  {{userList[0].vitals.temperature}} </span></span>
                                    </h6>
                                    <h6 class="mb-2 ml-4">
                                      
                                        <span *ngIf="userList[0].vitals.oxygen_saturation==''" > </span> 
                                        <span *ngIf="userList[0].vitals.oxygen_saturation!=''">  Oxygen Saturation :<span class="ml-5" >  {{userList[0].vitals.oxygen_saturation}} </span></span>
                                    </h6> -->
                                    <div *ngIf="invets.length!=0">
                                    <h5 class="mb-2"><b><span class="colorback" >Investigations</span></b></h5>
                                    <h5 class="mb-1 ml-2"><b><span class="colorback">Pathology : </span></b> </h5>
                                    <span  *ngFor="let tst of invets">
                                        <h6  class="mb-1 ml-4"><span *ngIf="tst.isDirect==1 && tst.testType==1">{{tst.testName}}</span> </h6>
                                    </span>
                                    <h5 class="mb-1 ml-2"><b><span class="colorback">Radiology : </span></b> </h5>
                                    <span *ngFor="let tst2 of invets">
                                        <h6  class="mb-1 ml-4"><span *ngIf="tst2.isDirect==1 && tst2.testType==2">{{tst2.testName}}</span> </h6>
                                   
                                    </span>
                                </div>
                                    <h5 class="mb-1 ml-2"><b><span class="colorback" *ngIf="invets.length==0">No Investigations Suggested </span></b> </h5>
                                </div>
                                <!-- <div class="col-lg-1"></div> -->
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <h5 class="mb-1 mt-4"><b><span class="colorback">Signs And Symptoms : </span> </b></h5>
                                    <h6 class="mb-1 ml-4">
                                       
                                        <span *ngIf="userList.signs==''" > </span> 
                                        <span *ngIf="userList.signs!=''">  Signs:<span class="ml-5" >  {{userList.signs}} </span></span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                        
                                        <span *ngIf="userList.complantArray==''" > </span> 
                                        <span *ngIf="userList.complantArray!=''">  Complaints:</span>
                                        <span class="ml-5"*ngFor="let cmp of complantArray">  {{cmp.name}} {{cmp.duration}}  {{cmp.durationType}}</span>

                                    </h6>
                                    <!-- <h6 class="mb-1 ml-4">
                                        
                                        <span *ngIf="userList.familyHistory==''" > </span> 
                                        <span *ngIf="userList.familyHistory!=''">  Faimly History:<span class="ml-5" >  {{userList.familyHistory}} </span></span>
                                    </h6> -->
                                    <!-- <h6 class="mb-1 ml-4">
                                       
                                        <span *ngIf="userList.pastHistory==''" > </span> 
                                        <span *ngIf="userList.pastHistory!=''">  Past History:<span class="ml-5" >  {{userList.pastHistory}} </span></span>
                                    </h6> -->
                                    

                                    <h5 class="mb-1 mt-4"><b><span class="colorback">Home Treatment : </span></b></h5>
                                    <h6 class="mb-1 ml-4" *ngFor="let med of userList.homeTreatments; let i=index">
                                        <span>{{i+1}}-{{med.medicine}}</span>
                                        
                                        <span class="small ml-2"> {{med.type1}}</span>
                                        <span class="small ml-2"> {{med.unit}}</span>
                                        <span class="small ml-3" *ngIf="med.dose=='SOS'">When Required</span>
                                        <span class="small ml-3" *ngIf="med.dose=='OD'">Daily</span>
                                        <span class="small ml-3" *ngIf="med.dose=='STAT'">Take Immediately</span>
                                        <span class="small ml-3" *ngIf="med.dose=='BiD'">1 + 0 + 1</span>
                                        <span class="small ml-3" *ngIf="med.dose=='TDS'">1 + 1 + 1</span>
                                        <span class="small ml-3" *ngIf="med.dose=='Qid'">1 + 1 + 1 + 1</span>
                                        <span class="small ml-3">({{med.prescribedQuantity}})</span>
                                        <span class="small ml-3">{{med.duration}}</span>
                                        <span class="ml-3">Remarks: ({{med.remarks}})</span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                         
                                         <span *ngIf="userList.TreatmentComments=='null'" > </span> 
                                         <span *ngIf=" userList.TreatmentComments!='null'">  <b> Other Medicine :</b><span class="ml-5" >  {{userList.TreatmentComments}} </span></span>
                                    </h6>
                                    <h5 class="mb-1 mt-4"><b><span class="colorback">Hospital Treatment : </span></b></h5>
                                    <h6 class="mb-1 ml-4" *ngFor="let med of userList.hospitalTreatments; let i=index">
                                        <span>{{i+1}}-{{med.medicine}}</span>
                                        
                                        <span class="small ml-2"> {{med.type1}}</span>
                                        <span class="small ml-2"> {{med.unit}}</span>
                                        <span class="small ml-3" *ngIf="med.dose=='SOS'">When Required</span>
                                        <span class="small ml-3" *ngIf="med.dose=='OD'">Daily</span>
                                        <span class="small ml-3" *ngIf="med.dose=='STAT'">Take Immediately</span>
                                        <span class="small ml-3" *ngIf="med.dose=='BiD'">1 + 0 + 1</span>
                                        <span class="small ml-3" *ngIf="med.dose=='TDS'">1 + 1 + 1</span>
                                        <span class="small ml-3" *ngIf="med.dose=='Qid'">1 + 1 + 1 + 1</span>
                                        <span class="small ml-3">({{med.prescribedQuantity}})</span>
                                        <span class="small ml-3">{{med.duration}}</span>
                                        <span class="ml-3">Remarks: ({{med.remarks}})</span>
                                    </h6>
                                    <h6 class="mb-1 ml-4">
                                         
                                         <span *ngIf="userList.TreatmentComments=='null'" > </span> 
                                         <span *ngIf=" userList.TreatmentComments!='null'">  <b> Other Medicine :</b><span class="ml-5" >  {{userList.otherMedics}} </span></span>
                                    </h6>
                                    <!-- affan said -->
                                    <h5 class="mb-1 mt-4"><b><span class="colorback">Follow Up : </span></b></h5>
                                    <h6 class="mb-1 ml-4"> <span *ngIf="userList.follow_up=='null'"></span>
                                        <span *ngIf="userList.follow_up!='null'">{{userList.follow_up}} {{userList.followUpInerval}}</span>
                                         </h6>
                                    <h6 class="mb-1 ml-4"><span *ngIf="userList.followUpComments=='null'"></span> 
                                    <span *ngIf="userList.followUpComments!='null'">{{userList.followUpComments}}</span></h6>
                                    <h5 class="mb-1 mt-5"><b><span class="colorback">Referral (if applicable) : </span></b></h5>
                                    <h6 class="mb-1 ml-4"><span *ngIf="userList.refferel!=''">{{userList.refferel}}</span>
                                        <span *ngIf="userList.refferel==''"></span>
                                    
                                    </h6>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt mt-5 d-print-none">
                                    <div class="form-group text-center">
                                        <button type="button" (click)="printPage()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn">
                                         <i class="fa fa-print"></i> Print
                                       </button>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="userLoader" class="d-flex justify-content-center">
                                <div class="spinner-border theme-color" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
