<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Ambulance List</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title mb-0">Ambulance Management</h5>
                                </div>
                                <div class="col-md-6">
                                    <span class="pull-right btn btn-sm">
                                        <button type="button" class="button" (click)="openModAdd(AmbAdd)">
                                            <i class="fa fa-plus"></i> Add Ambulance
                                        </button>
                                    </span>
                                </div>
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table center-aligned-table">
                                        <thead>
                                            <tr>
                                                <th>No# </th>
                                                <th>Ambulance Reg </th>
                                                <th>Driver Name</th>
                                                <th>Driver Contact </th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let amb of allAmnbulance;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{amb.registrationNo}}</td>
                                                <td>{{amb.driverName}}</td>
                                                <td>{{amb.driverContact}}</td>
                                                <td>{{amb.status}}</td>
                                                <td>Available</td>
                                                <td>
                                                    <button class="mr-3 btn btn-info" (click)="openModedit(AmbEdit)"><i class="fa fa-edit"></i></button>
                                                    <!-- model for Ambulance Update start-->
                                                    <ng-template  #AmbEdit class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2>Edit Ambulance</h2>
                                                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                                                    </button>
                                                                </div>

                                                                <div class="modal-body p-5">
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-3 mt-3"><label for="inputState">Ambulance Reg No</label></div>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control input-sm" id="UARN" placeholder="Ambulance Reg No">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-3 mt-3"><label for="inputState">Driver Name</label></div>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" id="UDN" placeholder="Driver Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-3 mt-3"><label for="inputState">Dreiver Contact No</label></div>
                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" id="UDC" placeholder="Dreiver Contact No">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-3 mt-3"><label for="inputState">Status</label></div>
                                                                        <div class="col-sm-9">
                                                                            <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select file format">
                                                                                <option value="Available">Available</option>
                                                                                <option value="Not-Available"> Not Available</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="button-danger" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Close</button>
                                                                    <button type="button" class="button"><i class="fa fa-check-square"></i> Update</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for Ambulance Update end-->
                                                    <button class="mr-3 btn btn-danger" (click)="openModdelete(Ambdelete)"><i class="fa fa-trash"></i></button>
                                                    <!-- model for Ambulance delete start-->
                                                    <ng-template  #Ambdelete class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header bb-none"></div>
                                                                <div class="modal-body p-5 text-center">
                                                                    <i class="fa fa-exclamation-circle fa-5x text-danger"></i>
                                                                    <p>Are You Sure To delete this Item!</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="button-danger" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                                                    <button type="button" class="button"><i class="fa fa-check-square"></i> Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for Ambulance delete end-->
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                    <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                        <div class="spinner-border theme-color" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <hr class="hr-gray mx-3 my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- model for Add Ambulance download start-->
            <ng-template  #AmbAdd class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Add Ambulance</h2>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true"><i class="ti-close"></i></span>
                            </button>
                        </div>
                        <div class="modal-body p-5">
                            <div class="form-group row">
                                <div class="col-sm-3 mt-3"><label for="inputState">Ambulance Reg No</label></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control input-sm" id="ARN" placeholder="Ambulance Reg No">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 mt-3"><label for="inputState">Driver Name</label></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="DN" placeholder="Driver Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 mt-3"><label for="inputState">Dreiver Contact No</label></div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="DCN" placeholder="Dreiver Contact No">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-3 mt-3"><label for="inputState">Status</label></div>
                                <div class="col-sm-9">
                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select file format">
                                        <option value="Available">Available</option>
                                        <option value="Not-Available"> Not Available</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button-danger" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Close</button>
                            <button type="button" class="button"><i class="fa fa-check-square"></i> Add Ambulance</button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- model for Add Ambulance download end-->
        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- <div *ngIf="loader_eqp" class="text-center">
    <i class="fa fa-pulse fa-spinner fa-3x fa-fw"></i>
</div> -->