<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item gray-04-color"><a href="javascript:void(0)" [routerLink]="['/epi/home']"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)">Child Vaccination</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="card-body">
                                <h5 class="card-title mb-0">Child Vaccination</h5>
                                <div class="table-responsive">
                                    <table class="table center-aligned-table">
                                        <thead>
                                            <tr class="text-dark">
                                                <th>S.NO</th>
                                                <th>When</th>
                                                <th>Baby Age</th>
                                                <th>Vaccination</th>
                                                <th>Next Vist / <span class="ml-5 text-danger">Vaccine Date</span></th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>At Birth</td>
                                                <td>At Birth</td>
                                                <td>BCG OPV-0 Hep-B</td>
                                                <td>After 6 Months of 1st visit</td>
                                                <td><i class="fa fa-check-square-o"></i></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>2nd visit</td>
                                                <td>6 Weeks</td>
                                                <td>OPV-1 Hep-B</td>
                                                <td>After 2 Weeks of 2nd visit <span class="ml-5 text-danger">20-03-2020</span></td>
                                                <td>
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus-square"></i> Done</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End main body -->
        </div>
    </div>
</div>