<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title mb-0"></h5>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item" (click)="setTab('newPats')">
                                    <a class="nav-link" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="home" aria-selected="true">Pending Patients</a>
                                </li>
                                <li class="nav-item" (click)="setTab('seenPats')">
                                    <a class="nav-link" [ngClass]="{'active show': tab === 'seenPats'}" id="portfolio-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">Operated Patients</a>
                                </li>

                                <!-- <li class="nav-item" (click)="setTab('commComp')">
                                    <a class="nav-link" [ngClass]="{'active show': tab === 'commComp'}" id="contact-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Commission & Compensation</a>
                                </li> -->
                            </ul>
                            <div class="tab-content">
                                <div *ngIf="tab === 'newPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>CRP NO</th>
                                                            <th>Patient Name</th>
                                                            <th>NIC</th>
                                                            <th>Date</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let pth of PathResponseArray; let i=index">
                                                            <td>{{pth.token}}</td>
                                                            <td><span>{{pth.firstname}}</span> </td>
                                                            <td><span>{{pth.cnic}}</span> </td>
                                                            <td>{{pth.DateCreated| date}}</td>
                                                            <td><a href="javascript:void(0)" class="text-info" (click)="gotopathdetail(pth)">Detail</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div *ngIf="userLoader" class="d-flex justify-content-center">
                                                <div class="spinner-border theme-color" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="tab === 'seenPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'seenPats'}" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>CRP NO</th>
                                                            <th>Patient Name</th>
                                                            <th>NIC</th>
                                                            <th>Date</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let pth of PathResponseArray; let i=index">
                                                            <td>{{pth.token}}</td>
                                                            <td> <span>{{pth.firstname}}</span></td>
                                                            <td> <span>{{pth.cnic}}</span></td>
                                                            <td>{{pth.DateCreated | date}}</td>
                                                            <td><a href="javascript:void(0)" class="text-info" (click)="gotopathdetailSeen(pth)">Detail</a></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div *ngIf="userLoader" class="d-flex justify-content-center">
                                                <div class="spinner-border theme-color" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model for users download start-->

            <!-- user delete confirmation -->
            <ng-template #deleteUser class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bb-none">
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true"><i class="ti-close"></i></span>
                        </button>
                        </div>
                        <div class="modal-body p-4 text-center">
                            <div class="icon-box danger-bg rounded-circle mx-auto mb-4">
                                <span class="text-white">
                                <i class="fa fa-trash-o highlight-icon" aria-hidden="true"></i>
                            </span>
                            </div>
                            <p class="mb-4">Are you sure you want to delete <span class="font-weight-bold d-block">{{userData.first_name}}
                                {{userData.last_name}}</span></p>
                            <div class="center-text">
                                <!-- <button type="button" (click)="deleteUser()" class="button">Delete</button> -->
                                <button type="button" class="button">
                                Delete
                                <span *ngIf="loader" class="spinner-border float-right" role="status"
                                    aria-hidden="true"></span>
                            </button>

                            </div>
                            <div class="invalid-feedback" style="display: block;">{{responseText}}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <!-- end of user delete confirmation -->
        </div>
    </div>
</div>