// NOTE: This file contains button SCSS.
button {
    @include transition (all, 0.5s, ease);
    &:focus {
        outline: 0;
    }
}

.button {
    background: $theme-color;
    padding: 9px 9px;
    font-size: $font-base;
    letter-spacing: 1px;
    border: 0;
    color: $white;
    text-transform: capitalize;
    font-weight: $font-medium;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid $theme-color;
    cursor: pointer;
    @include transition (all, 0.5s, ease);
    &:hover {
        background: transparent;
        color: $theme-color;
        border-color: $theme-color;
    }
    &:focus {
        background: transparent;
        color: $theme-color;
        border-color: $theme-color;
    }
}

.button-danger {
    background: #dc3545;
    padding: 9px 9px;
    font-size: $font-base;
    letter-spacing: 1px;
    border: 0;
    color: $white;
    text-transform: capitalize;
    font-weight: $font-medium;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #dc3545;
    cursor: pointer;
    @include transition (all, 0.5s, ease);
    &:hover {
        background: transparent;
        color: #dc3545;
        border-color: #dc3545;
    }
    &:focus {
        background: transparent;
        color: #dc3545;
        border-color: #dc3545;
    }
}

.button-success {
    background: #1e993d;
    padding: 9px 9px;
    font-size: $font-base;
    letter-spacing: 1px;
    border: 0;
    color: $white;
    text-transform: capitalize;
    font-weight: $font-medium;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #1e993d;
    cursor: pointer;
    @include transition (all, 0.5s, ease);
    &:hover {
        background: transparent;
        color: #1e993d;
        border-color: #1e993d;
    }
    &:focus {
        background: transparent;
        color: #1e993d;
        border-color: #1e993d;
    }
}

.button-info {
    background: #1e8f99;
    padding: 9px 9px;
    font-size: $font-base;
    letter-spacing: 1px;
    border: 0;
    color: $white;
    text-transform: capitalize;
    font-weight: $font-medium;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #1e8f99;
    cursor: pointer;
    @include transition (all, 0.5s, ease);
    &:hover {
        background: transparent;
        color: #1e8f99;
        border-color: #1e8f99;
    }
    &:focus {
        background: transparent;
        color: #1e8f99;
        border-color: #1e8f99;
    }
}

.button+.button {
    margin-left: 5px;
    margin-bottom: 5px;
}

.button.black {
    background: $dark-gray;
    color: $white;
    border: 2px solid $dark-gray;
    &:hover {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:active {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:focus {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
}

.button.gray {
    background: $border-color;
    color: $dark-gray;
    border: 2px solid $border-color;
    &:hover {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:focus {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:active {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
}

.button.white {
    background: $white;
    color: $theme-color;
    border-color: $white;
    &:hover {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
    &:focus {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
    &:active {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
}

.button.button-border {
    background: transparent;
    border: 2px solid $theme-color;
    color: $theme-color;
    &:hover {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:focus {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:active {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
}

.button.button-border.gray {
    background: transparent;
    border: 2px solid $border-color;
    color: $light-gray;
    &:hover {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:focus {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
    &:active {
        background: $theme-color;
        color: $white;
        border-color: $theme-color;
    }
}

.button.button-border.black {
    background: transparent;
    border: 2px solid $dark-gray;
    color: $dark-gray;
    &:hover {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
    &:focus {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
    &:active {
        background: $dark-gray;
        color: $white;
        border-color: $dark-gray;
    }
}

.button.button-border.white {
    background: transparent;
    border: 2px solid $white;
    color: $white;
    &:hover {
        background: $white;
        color: $theme-color;
        border-color: $white;
    }
    &:focus {
        background: $white;
        color: $theme-color;
        border-color: $white;
    }
    &:active {
        background: $white;
        color: $theme-color;
        border-color: $white;
    }
}

.button.icon {
    i {
        margin-left: 10px;
    }
}

.button.arrow {
    background: transparent;
    border: none;
    color: $theme-color;
    padding: 0;
    font-weight: $font-bold;
    i {
        padding-left: 10px;
        font-size: $font-base;
    }
    &:hover {
        color: $dark-gray;
    }
}

.button.arrow.white {
    color: $white;
    border: none;
    &:hover {
        color: $lightest-gray;
        background: transparent;
    }
}

.button.icon-color {
    background: none;
    border: none;
    color: $theme-color;
    padding: 0;
    &:hover {
        color: $dark-gray;
        background: transparent;
    }
    i {
        border: 1px solid $theme-color;
        border-radius: 50%;
        height: 22px;
        width: 22px;
        line-height: $line-base;
        margin-left: 10px;
        transform: translateX(0px);
        transition: all 0.5s cubic-bezier(0.76, 0.46, 0.22, 1) 0s;
        &:hover {
            background: $dark-gray;
            border-color: $border-color;
            color: $white;
            transform: translateX(3px);
        }
    }
}

.button.icon-color.white {
    &:hover {
        color: $white;
        border: none;
        background: none;
        i {
            background: $white;
            color: $theme-color;
            border-color: $white;
        }
    }
}

.bg-dark {
    .button.icon-color {
        color: $white;
        i {
            border-color: $white;
            &:hover {
                background: $white;
                color: $theme-color;
            }
        }
        &:hover {
            color: $theme-color;
        }
    }
}

.big-button {
    padding: 28px 26px;
    font-size: $font-lg;
    span {
        display: block;
        font-size: $font-base;
        margin-top: 6px;
    }
}

.button.x-small {
    padding: 8px 14px;
    font-size: $font-base;
}

.button.small {
    padding: 10px 18px;
    font-size: $font-base;
}

.button.medium {
    padding: 12px 20px;
    font-size: $font-base;
}

.button.large {
    padding: 14px 20px;
    font-size: $font-base;
}

.button+.button.btn-block {
    margin-left: 0;
}

// radio button style
input[type='radio'] {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #747474;
    border-radius: 50%;
    outline: none;
    box-shadow: none;
}

input[type='radio'] {
    &::before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
    }
}

input[type='radio']:checked:before {
    background: $theme-color;
}

input[type='radio']:checked {
    border: 2px solid $theme-color;
}

input[type='radio']+label:before {
    border: 2px solid $theme-color;
}

.custom-radio {
    .form-check {
        label {
            padding-left: 20px;
            margin-top: 5px;
            &:before {
                border: 2px solid $theme-color;
            }
        }
    }
}

// checkbox button style
.form-check.checkbox {
    padding-left: 20px;
    line-height: 25px;
    input[type="checkbox"] {
        opacity: 0;
    }
    input[type="checkbox"]:checked+label {
        &::after {
            font-family: 'themify';
            content: "\e64c";
            background: $theme-color;
            color: $white;
            font-size: $font-base;
        }
    }
    label {
        position: relative;
        padding-left: 15px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 25px;
            height: 25px;
            left: 0;
            margin-left: -20px;
            border: 1px solid #DDDFE1;
            border-radius: 3px;
            background-color: #F6F6F6;
        }
        &::after {
            display: inline-block;
            position: absolute;
            width: 24px;
            height: 24px;
            left: 0;
            top: 0;
            margin-left: -20px;
            padding-top: 0;
            padding-left: 5px;
        }
    }
}

// switch button scss
.switch {
    position: relative;
    display: inline-block;
    width: 68px !important;
    height: 36px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &::before {
            position: absolute;
            content: "";
            height: 28px;
            width: 28px;
            left: 10px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }
    input:checked+.slider {
        background-color: $theme-color;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px $theme-color;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}

// SCSS for loader
@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
}

//
// Growing circle
//
@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}

.spinner-grow {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    // stylelint-disable-next-line property-blacklist
    border-radius: 50%;
    opacity: 0;
    animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}