<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Home</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title mb-0">User Management</h5>
                                </div>
                                <div class="col-md-6">
                                    <span class="pull-right btn btn-sm">
                                        <button type="button" class="button" (click)="addUser.show()">
                                            <i class="fa fa-plus"></i> 
                                            Add User
                                        </button>
                                    </span>
                                </div>
                                <div class="table-responsive">
                                    <table datatable class="table center-aligned-table">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Joining</th>
                                                <th>contact</th>
                                                <th>User name</th>
                                                <th>Password</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usr of allUsers;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{usr.name}}</td>
                                                <td>{{usr.designation}}</td>
                                                <td>{{usr.joiningDate | date:"y/dd/MM"}}</td>
                                                <td>{{usr.contact}}</td>
                                                <td>{{usr.username}}</td>
                                                <td>{{usr.password}}</td>
                                                <td> 
                                                    <span *ngIf="usr.status==1">Working</span>
                                                    <span *ngIf="usr.status==2">Resigned</span>
                                                    <span *ngIf="usr.status==3">Terminated</span>
                                                    <span *ngIf="usr.status==4">On leave</span>
                                                </td>
                                                <td>
                                                    <button href="" class="mr-3 btn btn-info" (click)="usersEdit.show()"><i class="fa fa-edit"></i></button>
                                                    <!-- model for users download start-->
                                                    <div bsModal #usersEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2>Edit User</h2>
                                                                    <button type="button" class="close pull-right" aria-label="Close" (click)="usersEdit.hide()">
                                                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body p-5">
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Name</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control input-sm" id="Ename" placeholder="Full Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Designation</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" id="Edes" placeholder="Designation">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Joining Date</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" id="Ejoining" placeholder="Joining Date" bsdatepicker>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Contact</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" id="Econtact" placeholder="Contact No">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">User Name</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" id="Euname" placeholder="User Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Password</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" id="Epassword" placeholder="Password">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="inputState">Status</label></div>
                                                                        <div class="col-sm-10">
                                                                            <select class="form-control" aria-label="Text input with segmented dropdown button">
                                                                                <option placeholder="working">Working</option>
                                                                                <option placeholder="resigned">Resigned</option>
                                                                                <option placeholder="terminated">Terminated</option>
                                                                                <option placeholder="onleave">Onleave</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-UserNameter">
                                                                        <button type="button" class="button-danger" (click)="usersEdit.hide()"><i class="fa fa-remove"></i> Close</button>
                                                                        <button type="button" class="button"><i class="fa fa-check-square"></i> Update User</button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- model for users download end-->

                                                    <button href="" class="mr-2 btn btn-danger" (click)="userdelete.show()"><i class="fa fa-trash"></i></button>
                                                    <!-- model for user delete start-->
                                                    <div bsModal #userdelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                                                        <div class="modal-dialog modal-sm modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header bb-none"></div>
                                                                <div class="modal-body p-5 text-center">
                                                                    <i class="fa fa-exclamation-circle fa-5x text-danger"></i>
                                                                    <p>Are You Sure To delete this Item!</p>
                                                                </div>>
                                                                <div class="modal-UserNameter">
                                                                    <button type="button" class="button" (click)="userdelete.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                                                    <button type="button" class="button-danger"><i class="fa fa-check-square"></i> Delete</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- model for User Delete end-->
                                                </td>
                                            </tr>
                                          
                                        </tbody>
                                    </table>
                                    <hr class="hr-gray mx-3 my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- model for Add users download start-->
            <div bsModal #addUser="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2>Add User</h2>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="addUser.hide()">
                                <span aria-hidden="true"><i class="ti-close"></i></span>
                            </button>
                        </div>
                        <div class="modal-body p-5">
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="name">Full Name</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control input-sm" id="name" [(ngModel)]="userOb.fullname" placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="des">Designation</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="des" [(ngModel)]="userOb.designation" placeholder="Designation">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="joining">Joining Date</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="joining" [(ngModel)]="userOb.jdate" placeholder="Joining" bsDatepicker>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="contact">Contact No</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="contact" [(ngModel)]="userOb.contact" placeholder="Contact No">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="uname">User Name</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="uname" [(ngModel)]="userOb.uname" placeholder="User Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label for="password">Password</label></div>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="password" [(ngModel)]="userOb.password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2 mt-3"><label >Status</label></div>
                                <div class="col-sm-10">
                                    <select class="form-control" aria-label="Text input with segmented dropdown button" [(ngModel)]="userOb.status">
                                        <option value="1">Working</option>
                                        <option value="2">Resigned</option>
                                        <option value="3">Terminated</option>
                                        <option value="4">Onleave</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-UserNameter">
                            <button type="button" class="button-danger" (click)="addUser.hide()"><i class="fa fa-remove"></i> Close</button>
                            <button type="button" class="button" (click)="addNewUser(userOb)"><i class="fa fa-check-square"></i> Add User</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- model for Add users download end-->

        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- <div *ngIf="loader_eqp" class="text-center">
    <i class="fa fa-pulse fa-spinner fa-3x fa-fw"></i>
</div> -->