<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">User</a></li>
                            <li class="breadcrumb-item active gray-04-color">Dashboard</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                           
                            <div class="card-body">  
                                <h5 class="card-title mb-0">Add User</h5>
                                <ul class="nav nav-tabs" role="tablist">
    
                                    <li class="nav-item" (click)="setTab('newPats')" >
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" data-toggle="tab" href="javascript:void(0)"  role="tab" aria-controls="home" aria-selected="true">New Patients</a>
                                    </li>
                                    <li class="nav-item" (click)="setTab('penPats')" >
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'penPats'}" id="tab2" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="profile" aria-selected="false">Pending Patients</a>
                                    </li>
                                    <li class="nav-item" (click)="setTab('seenPats')" >
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'seenPats'}" id="portfolio-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">Seen Patients</a>
                                    </li>
    
                                    <!-- <li class="nav-item" (click)="setTab('commComp')">
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'commComp'}" id="contact-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Commission & Compensation</a>
                                    </li> -->
                                </ul>
                                <div class="tab-content">
                                    <div *ngIf="tab === 'newPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table center-aligned-table">
                                                        <thead>
                                                            <tr class="text-dark">
                                                                <!-- <th class=" d-flex align-items-center">
                                                                    <div class="form-check checkbox justify-content-center">
                                                                        <input type="checkbox" class="form-check-input"
                                                                            id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1"></label>
                                                                    </div>
                                                                </th> -->
                                                                <th>CRP NO#</th>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Details</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf="!userLoader">
                                                            <tr *ngFor="let user of userList">
                                                                <!-- <td class="d-flex align-items-center">
                                                                    <div class="form-check checkbox justify-content-center">
                                                                        <input type="checkbox" class="form-check-input"
                                                                            id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1"></label>
                                                                    </div>
                                                                </td> -->
                                                                <td>{{user.token}}</td>
                                                                <td>{{user.firstname}}</td>
                                                                <td>{{user.enteringDate | date}}</td>
                                                                <td><a (click)="gotoPatDetails(user)">Detail</a> </td>
                                                               
                                                            </tr>
                                                            <tr *ngIf="userList.length === 0" style="text-align: center;">
                                                                <td colspan="3">No Record Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div *ngIf="userLoader" class="d-flex justify-content-center">
                                                    <div class="spinner-border theme-color" role="status">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </div>
                                    <div *ngIf="tab === 'penPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'penPats'}" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table center-aligned-table">
                                                        <thead>
                                                            <tr class="text-dark">
                                                                <!-- <th class=" d-flex align-items-center">
                                                                    <div class="form-check checkbox justify-content-center">
                                                                        <input type="checkbox" class="form-check-input"
                                                                            id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1"></label>
                                                                    </div>
                                                                </th> -->
                                                                <th>CRP NO#</th>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Details</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf="!userLoader">
                                                            <tr *ngFor="let user of userList">
                                                                <!-- <td class="d-flex align-items-center">
                                                                    <div class="form-check checkbox justify-content-center">
                                                                        <input type="checkbox" class="form-check-input"
                                                                            id="exampleCheck1">
                                                                        <label class="form-check-label" for="exampleCheck1"></label>
                                                                    </div>
                                                                </td> -->
                                                                <td>{{user.token}}</td>
                                                                <td>{{user.firstname}}</td>
                                                                <td>{{user.enteringDate | date}}</td>
                                                                <td><a (click)="gotoPatDetails(user)">Detail</a> </td>
                                                               
                                                               
                                                            </tr>
                                                            <tr *ngIf="userList.length === 0" style="text-align: center;">
                                                                <td colspan="3">No Record Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div *ngIf="userLoader" class="d-flex justify-content-center">
                                                    <div class="spinner-border theme-color" role="status">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="tab === 'seenPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'seenPats'}" id="tab3" role="tabpanel" aria-labelledby="tab3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-hover ">
   <thead >
                                                            <tr>
                                                                <th >SNo#</th>
                                                                <th>Name</th>
                                                                <th>Dist</th>
                                                                <th>Region</th>
                                                                <th >Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr >
                                                                <td>sad</td>
                                                                <td>kask</td>
                                                                <td>sakdjbshab</td>
                                                                <td>kjsab</td>
                                                                <td>
                                                                    <span class="text-info"> <a > Details</a> </span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div *ngIf="userLoader" class="d-flex justify-content-center">
                                                    <div class="spinner-border theme-color" role="status">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

            <!-- model for users download start-->
            <!-- <div bsModal #usersDownload="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-sizes-name2">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header bb-none">
                            <button type="button" class="close pull-right" aria-label="Close"
                                (click)="usersDownload.hide()">
                                <span aria-hidden="true"><i class="ti-close"></i></span>
                            </button>
                        </div>
                        <div class="modal-body p-5">
                            <div class="input-group form-group">
                                <label for="inputState">File Format</label>
                                <span class="wrapper-select">
                                    <select [(ngModel)]="downloadType" class="form-control"
                                        aria-label="Text input with segmented dropdown button"
                                        placeholder="Select file format">
                                        <option value="xlsx">.xls</option>
                                        <option value="csv">.csv</option>
                                    </select>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- model for users download end-->

           

            
        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- <div *ngIf="loader_eqp" class="text-center">
    <i class="fa fa-pulse fa-spinner fa-3x fa-fw"></i>
</div> -->
