@media print {
    body {
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    .card-statistics {
        margin-top: -55px;
    }
    .colorback {
        background: rgb(187, 185, 189);
    }
    .content-wrapper {
        background: #ffffff;
    }
}