<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)" [routerLink]="['/ward-list/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="ti-home mr-2"></i>Admitted Patient</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="card-body">
                                <!-- <h5 class="card-title mb-0">Ward Managment</h5> -->
                                <form novalidate [formGroup]="outdoorForm" >
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-12">
                                            <label>Critically ill</label>
                                            <select class="form-control" formControlName="criti_ill">
                                                <option [value]="0">No</option>
                                                <option [value]="1">Yes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-12">
                                            <label for="inputState">Any Operation Procedure Done</label>
                                            <textarea type="text" formControlName="operate_procedure"  class="form-control" placeholder="Any Operation Procedure Done"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-12">
                                            <label for="inputState">Dialysis</label>
                                            <textarea type="text" formControlName="dylasis" class="form-control" placeholder="Dialysis"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-10">
                                            <label for="inputState">Diagnosis</label>
                                            <input class="text" formControlName="diagnosis" [typeahead]="diagnosisArr"  typeaheadOptionField="name" (typeaheadOnSelect)="onSelectDiagnos($event)" class="form-control" name="daignosis">
                                        </div>
                                        <div class="col-sm-2 mt-4">
                                            <!-- <button class="button" (click)="addnewDiag(outdoorForm.value.diagnosis)">Add</button> -->
                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-12">
                                            
                                            <ul>Provisional Diagnosis
                                               
                                                <li *ngFor="let diag of diagnosArr; let i=index;"> 
                                                      <a class="float-right" (click)="removeDiag(i)"><i class="fa fa-remove text-danger"></i></a>
                                                    <span>{{i+1}})</span> {{diag.name}}
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-12 text-center">
                                            <button class="button mr-1" *ngIf="!loaderUpdate" type="button" (click)="updateIndoor(outdoorForm.value)"><i class="ti-save-alt"></i> Save</button>
                                            <button class="button mr-1" *ngIf="loaderUpdate" type="button" > <span class="spinner-border float-right" role="status" aria-hidden="true"></span></button>
                                            <button class="button" type="button"><i class="fa fa-wheelchair"></i> Operate</button>
                                        </div>
                                    </div>
                                </form>
                                <form novalidate [formGroup]="treatmentForm" >
                                    <hr class="gray">
                                    <div class="form-group row mx-0">
                                        <div class="col-md-12">
                                            <h5>Treatment</h5>
                                        </div>
                                        <hr class="hr-gray">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Medicine Name</label>
                                                <input type="text" formControlName="med_name"  [typeahead]="gettreatmetData" typeaheadOptionField="itemName" (typeaheadOnSelect)="onSelectMedics($event)" class="form-control" name="medicName" class="form-control" id="formGroupExampleInput" placeholder="Enter Medicine Name">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Unit</label>
                                                <input type="text" formControlName="med_unit" class="form-control" id="formGroupExampleInput" placeholder="500 ml">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Type</label>
                                                <input type="text" formControlName="med_type" class="form-control" id="formGroupExampleInput" placeholder="Enter Medicine Type">
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group">
                                                <label>In Stock</label>
                                                <input type="text" formControlName="med_instock" disabled='true' class="form-control" id="formGroupExampleInput" placeholder="In Stock">
                                            </div>
                                        </div> -->
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Prescribed Quantity</label>
                                                <input type="text" formControlName="med_quantity" class="form-control" id="formGroupExampleInput" placeholder="Prescribed Quantity">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group input-group">
                                                <label>Dose</label>
                                                <span class="wrapper-select">
                                                    <select class="form-control" formControlName="med_dose" aria-label="Text input with segmented dropdown button" placeholder="Is Follow Up">
                                                        <option>Select Dose</option>
                                                        <option value='SOS'>SOS</option>
                                                        <option value="OD">OD</option>
                                                        <option value="STAT"> STAT</option>
                                                        <option value="BiD">BiD</option>
                                                        <option value="TDS">TDS</option>
                                                        <option value="QiD">QiD</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group input-group">
                                                <label>Prandial</label>
                                                <span class="wrapper-select">
                                                    <select class="form-control" formControlName="med_parandials"  aria-label="Text input with segmented dropdown button" placeholder="Is Follow Up">
                                                        <option value="">Select Prandial</option>
                                                        <option value="Before Meal">Before Meal</option>
                                                        <option value="In Between Meal">In Between Meal</option>
                                                        <option value="After Meal">After Meal</option>
                                                        <option value="Others">Others</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Remarks/Dosing</label>
                                                <input type="text" formControlName="med_remark" class="form-control" id="formGroupExampleInput" placeholder="Remarks/Dosing">
                                            </div>
                                        </div>
                                        <div class="col-md-3 mt-4">
                                            <div class="form-group text-center">
                                                <button type="button" (click)="addmoreMedics()"  class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="fa fa-plus mr-2"></i>Add More </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <h6>New Treatment</h6>
                                            <div class="table-responsive cutomtable">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Medicine</th>
                                                            
                                                            <th>Prescribed Quantity</th>
                                                            <th>Dose</th>
                                                            <th>Prandial</th>
                                                            <th>Remarks</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="" *ngFor="let addArr of medicArr;let m=index;">
                                                            <td>{{addArr.med_name}}</td>
                                                           
                                                           
                                                            <td>{{addArr.med_quantity}}</td>
                                                            <td>
                                                                 <span *ngIf="addArr.med_dose=='SOS'">When required</span>
                                                                 <span *ngIf="addArr.med_dose=='OD'">Daily</span>
                                                                 <span *ngIf="addArr.med_dose=='STAT'">Take Immediately</span>
                                                                 <span *ngIf="addArr.med_dose=='BiD'">1+0+1</span>
                                                                 <span *ngIf="addArr.med_dose=='TDS'">1+1+1</span>
                                                                 <span *ngIf="addArr.med_dose=='Qid'">1+1+1+1</span>

                                                            </td>
                                                            <td>{{addArr.med_parandials}}</td>
                                                            <td>{{addArr.med_remark}}</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <a href="javascript:void(0)" class="float-right" (click)="removeArr(m)"><i class="fa fa-close text-danger"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <hr class=" hr-gray ">
                                    
                                        
                                    </div>
                                </form>
                                    <hr class=" hr-gray ">
                                    <div class="form-group row mx-0">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <button type="button" class="button"><i class="ti-save-alt"></i> Save</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h6>Previous Treatment</h6>
                                        <div class="table-responsive cutomtable">
                                            <table class="table center-aligned-table">
                                                <thead>
                                                    <tr class="text-dark">
                                                        <th>Medicine</th>
                                                        <th>Unit</th>
                                                        <th>Type</th>
                                                       
                                                        <th>Prescribed Quantity</th>
                                                        <th>Dose</th>
                                                        <th>Prandial</th>
                                                        <th>Remarks</th>
                                                        <th class="text-center">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="" *ngFor="let dis_treat of getDischargedata1.hospitalTreatments">
                                                        <td>{{dis_treat.medicine}}</td>
                                                        <td>{{dis_treat.unit}}</td>
                                                        <td>{{dis_treat.type}}</td>
                                                       
                                                        <td>{{dis_treat.prescribedQuantity}}</td>
                                                        <td>
                                                             <span *ngIf="dis_treat.dose=='SOS'">When required</span>
                                                             <span *ngIf="dis_treat.dose=='OD'">Daily</span>
                                                             <span *ngIf="dis_treat.dose=='STAT'">Take Immediately</span>
                                                             <span *ngIf="dis_treat.dose=='BiD'">1+0+1</span>
                                                             <span *ngIf="dis_treat.dose=='TDS'">1+1+1</span>
                                                             <span *ngIf="dis_treat.dose=='Qid'">1+1+1+1</span>

                                                        </td>
                                                        <td>{{dis_treat.prandial}}</td>
                                                        <td>{{dis_treat.remarks}}</td>
                                                        <td>
                                                            <div class="form-group">
                                                                <a href="javascript:void(0)" class="float-right"><i class="fa fa-close text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr class="gray">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="custom-control-inline mr-md-5 mb-2">
                                                <div class="form-check checkbox">
                                                    <input type="checkbox" class="form-check-input" id="Pathalogy">
                                                    <label class="form-check-label" for="Pathalogy">Pathalogy</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="custom-control-inline mr-md-5 mb-2">
                                                <div class="form-check checkbox">
                                                    <input type="checkbox" class="form-check-input" id="Radiology">
                                                    <label class="form-check-label" for="Radiology">Radiology</label>
                                                </div>
                                            </div>
                                            <div class="form-group input-group">
                                                <span class="wrapper-select">
                                                    <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Is Follow Up">
                                                        <option>ECG</option>
                                                        <option>UltraSound</option>
                                                    </select>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-check-label">Radiology Test Name</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-check-label">Others</label>
                                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Others">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center">
                                            <div class="form-group">
                                                <button type="button" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="fa fa-send-o"></i> Send To Lab / Radiology </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class=" hr-gray ">
                                    <div class="form-group row mx-0">
                                        <div class="col-md-12">
                                            <h5>Selected Investigation</h5>
                                            <div class="table-responsive">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Investigation Name</th>
                                                            <th>Investigation Type</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr class="">
                                                            <td>Pathology</td>
                                                            <td>ACTH,Plasma</td>
                                                            <td>
                                                                <div class="form-group">
                                                                    <a href="javascript:void(0)" class="float-right"><i class="fa fa-close text-danger"></i></a>
                                                                    <a href="javascript:void(0)" class="text-info" (click)="openModalWithClass(template)">View Report</a>
                                                                </div>
                                                                <ng-template #template>
                                                                    <div class="modal-header">
                                                                        <h4 class="modal-title pull-left">Result Report</h4>
                                                                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row mx-0">
                                                                            <div class="col-md-12 mt-3">
                                                                                <p class="mt-3"><b>Token Number</b>
                                                                                    <span class="ml-4">33226-60</span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-md-6 mt-3">
                                                                                <p class="mb-1"><b>Patient Name</b>
                                                                                    <span class="ml-4">Zeeshan Shahid</span>
                                                                                </p>
                                                                                <p class="mb-1 mt-3"><b>Date Of Birth</b>
                                                                                    <span class="ml-4">1987-10-20</span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-md-6 mt-3">
                                                                                <p class="mb-1"><b>Father/Husband Name</b>
                                                                                    <span class="ml-4"> Shahid</span>
                                                                                </p>
                                                                                <p class="mb-1 mt-3"><b>Mobile Number</b>
                                                                                    <span class="ml-4"> 0300123456798</span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="col-md-12 mt-3">
                                                                                <p class="mb-2 mt-4"><b>Tests</b></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="table-responsive">
                                                                            <table class="table center-aligned-table">
                                                                                <thead>
                                                                                    <tr class="text-dark">
                                                                                        <th>Test Type</th>
                                                                                        <th>Test Name</th>
                                                                                        <th>Findings/ Results</th>
                                                                                        <th>Range</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Pathology</td>
                                                                                        <td>Complete Blood Count</td>
                                                                                        <td> Findings/ Results
                                                                                            <!-- <form>
                                                                                                <input type="text" class="form-control" id="findins" placeholder="Findings/ Results">
                                                                                            </form> -->
                                                                                        </td>
                                                                                        <td> 2-9mg/24 hr</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="button" (click)="modalRef.hide()"><i class="fa fa-check-square"></i> Save</button>
                                                                    </div>
                                                                </ng-template>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class=" hr-gray ">
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-6">
                                            <label class="mt-3" for="inputState">Discharge Type</label>
                                            <select class="form-control">
                                                <option>Discharge / DOR</option>
                                                <option>LAMA</option>
                                                <option>Referred</option>
                                                <option>Death</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="mt-3" for="inputState">Select Date</label>
                                            <input type="text" class="form-control" placeholder="Start Date" #datepickerYMD="bsDatepicker" bsDatepicker  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placement="top">
                                        </div>
                                        <div class="col-sm-12 mt-3 text-center">
                                            <button class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" type="button"><i class="fa fa-wheelchair"></i> Discharge</button>
                                        </div>
                                    </div>
                               <!-- </form>  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>