<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)" [routerLink]="['/ot/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Pending OT Patient</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="card-body">
                                <!-- <h5 class="card-title mb-0">Ward Managment</h5> -->
                                <form [formGroup]="dynamicForm" novalidate>
                                    <div class="form-group row mx-0">
                                        <div class="col-sm-6">
                                            <label for="inputState">Type of Anesthesia</label>
                                            <select class="form-control" formControlName='anesthesiaType'>
                                                <option selected disabled value=''>Select Anesthesia Type</option>
                                                <option value='1'>General</option>
                                                <option value='2'>Spinal</option>
                                                <option value='3'>Local</option>
                                                <option value='4'>Without Anesthesia</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name Of Operation</label>
                                                <input type="text" class="form-control" formControlName='operationName' placeholder="Name Of Operation">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name Of Operation Surgeon</label>
                                                <input type="text" class="form-control" formControlName='surgeonName' placeholder="Name Of Operation Surgeon">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name Of Anesthetist</label>
                                                <input type="text" class="form-control" formControlName='anethetistName' placeholder="Name Of Anesthesia">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Remarks</label>
                                                <textarea type="text" class="form-control" formControlName='remarks' placeholder="Remarks/Operation Comments"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="gray">
                                    <div class="form-group row mx-0">
                                        <div class="col-md-12">
                                            <div class="form-group text-center">
                                                <button type="button" *ngIf="!userLoader2" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" (click)="updateOperationData(dynamicForm.value)"><i class="ti-save-alt"></i> Save</button>
                                                <button type="button" *ngIf="userLoader2" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"> <span class="spinner-border " role="status" aria-hidden="true"></span> Saving</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>