.content-wrapper {
    label {
        color: #464A53;
        display: block;
        width: 100%;
    }
}

.border4 {
    border: 1px #999 solid;
    padding: 20px;
    border-radius: 6px;
}
.form-control:focus {
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(5, 28, 46, 0.6);
    box-shadow: 0 0 8px rgba(14, 17, 170, 0.6) !important;
}