<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/admin/home']"><i class="ti-home mr-1"></i> Home</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title mb-0">Doctor's Logins</h5>
                                    <hr class="gray">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="pull-right btn btn-sm">
                                        <button type="button" class="button" (click)="openAddModal(addUser)">
                                            <i class="fa fa-plus"></i>  Add User
                                        </button>
                                    </span>
                                </div>
                                <ng-template #addUser>
                                    <div class="modal-header">
                                        <h4 class="modal-title pull-left">Add User</h4>
                                        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mx-0">
                                            <div class="col-md-12 mt-3">
                                                <form #UserForm="ngForm">
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="name">Full Name</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" name="name" class="form-control input-sm" id="name" [(ngModel)]="userOb.name" placeholder="Full Name" required #name="ngModel">
                                                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                                                <div *ngIf="name.errors.required">
                                                                    Name is required *
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="des">Designation</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="designation" id="des" [(ngModel)]="userOb.designation" placeholder="Designation" required #designation="ngModel">
                                                            <div *ngIf="designation.invalid && (designation.dirty || designation.touched)" class="text-danger">
                                                                <div *ngIf="designation.errors.required">
                                                                    Designation is required *
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="joining">Joining Date</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="joiningDate" id="joining" [(ngModel)]="userOb.joiningDate" placeholder="Joining" bsDatepicker>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="contact">Contact No</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="userOb.contact" placeholder="Contact No">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="uname">User Name</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="username" id="uname" [(ngModel)]="userOb.username" placeholder="User Name" required #username="ngModel">
                                                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
                                                                <div *ngIf="username.errors.required">
                                                                    User Name is required *
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-sm-2 mt-3"><label for="password">Password</label></div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="password" id="password" [(ngModel)]="userOb.password" placeholder="Password" required #password="ngModel">
                                                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                                                                <div *ngIf="password.errors.required">
                                                                    Password is required *
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-lg btn-default" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                        <button type="button" class="btn btn-lg btn-success" [disabled]="UserForm.form.invalid" (click)="addNewUser(userOb)">
                                            <i class="fa fa-check-square"></i> Add User
                                        </button>
                                    </div>
                                </ng-template>
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table center-aligned-table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Name</th>
                                                <th>Designation</th>
                                                <th>Joining</th>
                                                <th>contact</th>
                                                <th>User name</th>
                                                <th>Password</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let usr of allUsers;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{usr.name}}</td>
                                                <td>{{usr.designation}}</td>
                                                <td>{{usr.joiningDate | date:"y/dd/MM"}}</td>
                                                <td>{{usr.contact}}</td>
                                                <td>{{usr.username}}</td>
                                                <td>{{usr.password}}</td>
                                                <td>
                                                    <span *ngIf="usr.status=='1'">Working</span>
                                                    <span *ngIf="usr.status=='2'">Resigned</span>
                                                    <span *ngIf="usr.status=='3'">Terminated</span>
                                                    <span *ngIf="usr.status=='4'">On leave</span>
                                                </td>
                                                <td>
                                                    <button href="" class="mr-1 btn btn-info" (click)="openModedit(usersEdit,usr)"><i class="ti-pencil-alt"></i></button>
                                                    <!-- model for users download start-->
                                                    <ng-template #usersEdit>
                                                        <div class="modal-header">
                                                            <h4 class="modal-title pull-left">Edit User</h4>
                                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="row mx-0">
                                                                <div class="col-md-12 mt-3">
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Ename">Name</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control input-sm" id="Ename" [(ngModel)]="EuserOb.Ename" placeholder="Full Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Edes">Designation</label>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" [(ngModel)]="EuserOb.Edes" id="Edes" placeholder="Designation">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Ejoining">Joining Date</label>
                                                                        </div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" [(ngModel)]="EuserOb.Ejoining" id="Ejoining" placeholder="Joining Date" bsdatepicker>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Econtact">Contact</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" [(ngModel)]="EuserOb.Econtact" id="Econtact" placeholder="Contact No">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Euname">User Name</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" [(ngModel)]="EuserOb.Euname" id="Euname" placeholder="User Name">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="Epassword">Password</label></div>
                                                                        <div class="col-sm-10">
                                                                            <input type="text" class="form-control" [(ngModel)]="EuserOb.Epassword" id="Epassword" placeholder="Password">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-2 mt-3"><label for="">Status</label></div>
                                                                        <div class="col-sm-10">
                                                                            <select class="form-control" [(ngModel)]="EuserOb.Estatus" aria-label="Text input with segmented dropdown button">
                                                                                <option value='1'>Working</option>
                                                                                <option value='2'>Resigned</option>
                                                                                <option value='3'> Terminated</option>
                                                                                <option value='4'>Onleave</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-lg btn-default" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                                            <button type="button" class="btn btn-lg btn-info" (click)="updateUser(EuserOb)"><i class="fa fa-check-square"></i> Update User</button>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for users download end-->

                                                    <button href="" class="btn btn-danger" (click)="openDeleteModal(userdelete,usr)"><i class="ti-trash"></i></button>
                                                    <!-- model for user delete start-->
                                                    <ng-template #userdelete>
                                                        <div class="modal-body p-5 text-center">
                                                            <i class="fa fa-exclamation-circle mb-3 fa-5x text-warning"></i>
                                                            <p>Are You Sure To delete this Item!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" (click)="modalRef.hide()">
                                                                <i class="fa fa-remove"></i> Cancel
                                                            </button>
                                                            <button type="button" class="btn btn-danger" (click)="deleteUser()">
                                                                <i class="ti-trash"></i> Delete
                                                            </button>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for User Delete end-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                        <div class="spinner-border theme-color" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <hr class="hr-gray mx-3 my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- <div *ngIf="loader_eqp" class="text-center">
    <i class="fa fa-pulse fa-spinner fa-3x fa-fw"></i>
</div> -->