<div class="side-menu-fixed">
    <div class="scrollbar side-menu-bg">
        <ul *ngIf="!router.url.includes('account-settings')" class="nav navbar-nav side-menu" id="sidebarnav">
            <!-- menu item Dashboard-->
            <!-- <li>
                <a href="javascript:void(0)" [routerLink]="['home']" routerLinkActive="active"><i class="ti-layout-grid2-alt"></i><span class="right-nav-text">Home</span> </a>
            </li> -->
            <li>
                <a href="javascript:void(0)" [routerLink]="['home']" routerLinkActive="active"><i class="ti-home"></i><span class="right-nav-text">Reception</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)" [routerLink]="['patients']" routerLinkActive="active"><i class="ti-user"></i><span class="right-nav-text">Patients</span> </a>
            </li>
            <li>
                <a href=""><i class="ti-power-off"></i><span class="right-nav-text">Exit</span> </a>
            </li>
        </ul>
    </div>
</div>