<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)"><i class="ti-home mr-2"></i>Home</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">

                            <div class="card-body">
                                <h5 class="card-title mb-0"></h5>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item" (click)="setTab('newPats')">
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" data-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="home" aria-selected="true">Pending Patients</a>
                                    </li>
                                    <li class="nav-item" (click)="setTab('seenPats')">
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'seenPats'}" id="portfolio-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">Seen Patients</a>
                                    </li>

                                    <!-- <li class="nav-item" (click)="setTab('commComp')">
                                        <a class="nav-link" [ngClass]="{'active show': tab === 'commComp'}" id="contact-tab" href="javascript:void(0)" data-toggle="tab" role="tab" aria-controls="contact" aria-selected="false">Commission & Compensation</a>
                                    </li> -->
                                </ul>
                                <div class="tab-content">
                                    <div *ngIf="tab === 'newPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'newPats'}" id="tab1" role="tabpanel" aria-labelledby="tab1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table center-aligned-table">
                                                        <thead>
                                                            <tr class="text-dark">
                                                                <th>CRP NO#</th>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf="!loader_eqp">
                                                            <tr *ngFor="let pend of pharmacyData;index as i">
                                                                <td>{{pend.token}}</td>
                                                                <td>
                                                                    <img class="mr-3" src="../../../assets/images/profile-avatar.png">
                                                                    <span>{{pend.firstname}}</span>
                                                                </td>
                                                                <td>{{pend.DateCreated | date}}</td>
                                                                <td><a href="javascript:void(0)" class="text-info" (click)="gotoPatDetails(pend)">Detail</a></td>
                                                            </tr>
                                                            <tr *ngIf="pharmacyData.length === 0" style="text-align: center;">
                                                                <td colspan="3">No Record Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                                        <div class="spinner-border theme-color" role="status">
                                                            <span class="sr-only"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="tab === 'seenPats'" class="tab-pane fade" [ngClass]="{'active show': tab === 'seenPats'}" id="tab2" role="tabpanel" aria-labelledby="tab2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table center-aligned-table">
                                                        <thead>
                                                            <tr class="text-dark">
                                                                <th>CRP NO#</th>
                                                                <th>Name</th>
                                                                <th>Date</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngIf="!loader_eqp">
                                                            <tr *ngFor="let pend of pharmacyData;index as i">
                                                                <td>{{pend.token}}</td>
                                                                <td>
                                                                    <img class="mr-3" src="../../../assets/images/profile-avatar.png">
                                                                    <span>{{pend.firstname}}</span>
                                                                </td>
                                                                <td>{{pend.DateCreated | date}}</td>
                                                                <td><a href="javascript:void(0)" class="text-info" (click)="gotoPatDetails(pend)">Detail</a></td>
                                                            </tr>
                                                            <tr *ngIf="pharmacyData.length === 0" style="text-align: center;">
                                                                <td colspan="3">No Record Found</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                                        <div class="spinner-border theme-color" role="status">
                                                            <span class="sr-only"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>