<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Print
                                    Prescreption</a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100" *ngIf="!userLoader">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h2 class="text-center">Cat-D Hospital Mamad Gat</h2>
                                    <p class="text-center mb-2">OUTDOOR PATIENT TICKET</p>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <h6><b>EMR NO :</b> <span class="ml-3"> {{patInfo.token}}</span></h6>
                                    <h6><b>Patient Name :</b> <span class="ml-3"> {{patInfo.firstname}}</span></h6>
                                    <h6><b>Father's Name/Husband's Name : </b> <span
                                            class="ml-3">{{patInfo.f_hName}}</span></h6>
                                </div>
                                <div class="col-lg-3"></div>
                                <div class="col-lg-4">
                                    <img class="" src="../../../../../assets/images/merf.png" width="200" height="100">
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-4">
                                    <h6><b>Age :</b> <span class="ml-3"> <span
                                                *ngIf='patInfo.ageYear!=0'>{{patInfo.ageYear}}</span><span
                                                *ngIf='patInfo.ageYear==0'>{{patInfo.ageMonth}}</span> </span></h6>
                                    <h6><b>Consulting Doctor :</b> <span class="ml-3">{{patInfo.departmentName}}</span>
                                    </h6>
                                </div>
                                <div class="col-lg-3">
                                    <h6><b>Gender : </b><span class="ml-3">{{patInfo.gender}}</span></h6>
                                </div>
                                <hr class="hr-gray mx-3 my-3">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3" style="border-right: #000 1px solid;">
                                    <h4 class="mr-2" style="margin-left: -25px;">Vitals</h4>
                                    <p class="mb-1"><b>BP:</b> <span class="ml-4"> {{userList[0].vitals.bps}}</span></p>
                                    <p class="mb-1"><b>Pulse (Per Min):</b> <span class="ml-4">
                                            {{userList[0].vitals.pulse}}</span></p>
                                    <p class="mb-1"><b>Weight(Kg):</b> <span
                                            class="ml-4">{{userList[0].vitals.weight}}</span></p>
                                    <p class="mb-1"><b>Height (cm):</b> <span
                                            class="ml-4">{{userList[0].vitals.height}}</span></p>
                                    <p class="mb-1"><b>Temprature(F):</b> <span
                                            class="ml-4">{{userList[0].vitals.temperature}}</span></p>
                                    <p class="mb-4"><b>Oxygen Saturation</b> <span
                                            class="ml-3">{{userList[0].vitals.oxygen_saturation}}</span></p>
                                    <h6 class="mb-1" style="margin-left: -25px;"><b>Investigation (With Results)</b>
                                    </h6>
                                    <span *ngFor="let tst of userList[0].test">
                                        <span *ngIf="tst.testType==1">
                                            <p class="mb-1"><b>Pathology</b> <span class="ml-4">{{tst.testName}}</span>
                                            </p>
                                            <p class="mb-1">Findings: <span class="ml-4">{{tst.result}}</span></p>
                                            <p class="mb-1">Diagnosis: <span class="ml-4" >{{tst.xrayFilms6}}</span></p>
                                        </span>
                                        <!-- </span>
                                <span> -->
                                        <span *ngIf="tst.testType==2">
                                            <p class="mb-1 mt-3"><b>Radiology</b><span
                                                    class="ml-4">{{tst.testName}}</span></p>
                                            <p class="mb-1">Findings: <span class="ml-4">{{tst.result}}</span></p>
                                            <p class="mb-1">Diagnosis: <span class="ml-4"  >{{tst.xrayFilms6 }}</span></p>
                                        </span>
                                    </span>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-7">
                                    <h6 class="mb-1" style="margin-left: -25px;"><b>Signs And Symptoms</b></h6>
                                    <p class="mb-1">Signs: <span class="ml-3"> {{userList[0].signs}}</span></p>
                                    <p class="mb-1">Complaints:<span class="ml-3">{{userList[0].complaints}}</span></p>
                                    <p class="mb-1">Faimly History:<span class="ml-3">{{userList[0].familyHistory}}</span></p>
                                    <p class="mb-1">Past History:<span class="ml-3">{{userList[0].pastHistory}}</span></p>

                                    <h6 class="mb-1 mt-4" style="margin-left: -25px;"><b>Diagonosis</b></h6>
                                    <p>{{userList[0].diagnosis}}</p>

                                    <h6 class="mb-1 mt-4" style="margin-left: -25px;"><b>Treatment</b></h6>
                                    <p *ngFor="let med of userList[0].medicines"><span>{{med.medicine}}</span><span class="small ml-2">{{med.unit}}</span></p>

                                    <h6 class="mb-1 mt-4" style="margin-left: -25px;"><b>Follow Up</b></h6>
                                    <p>Yes</p>
                                    <p>After 1 Weak</p>

                                    <h6 class="mb-1 mt-6" style="margin-left: -25px;"><b>Referral (if applicable)</b>
                                    </h6>
                                    <p>LRH Hospital</p>
                                </div>
                                <div class="col-lg-12 mt mt-5">
                                    <div class="form-group text-center">
                                        <button type="button"
                                            class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i
                                                class="fa fa-print"></i> Print</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userLoader" class="d-flex justify-content-center">
                        <div class="spinner-border theme-color" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>