<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                    <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">User and Permission</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Roles and permission</a></li>
                        <li class="breadcrumb-item active gray-04-color">New Role</li>
                    </ol>
                    </div>
                </div>
            </div>

            <div class="row">   
                <div class="col-md-12 mb-30">     
                    <div class="card card-statistics h-100"> 
                        <div class="card-body">  
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="card-title mb-0">Roles and permission</h5>
                                </div>
                            </div>

                            <div class="row justify-content-end mx-0 mt-3">
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-group form-group d-flex align-items-center">
                                        <span class="wrapper-select">
                                            <select class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Select Branch">
                                                <option>Branch 1</option>
                                                <option>Branch 2</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="input-group mr-3 mb-3 mb-md-0">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-transparent br-none"><i class="fa fa-search gray-color "></i></div>
                                        </div>
                                        <input type="text" class="form-control bl-none pl-1" id="inlineFormInputGroupUsername2" placeholder="Search">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th class="d-flex align-items-center">
                                                        <div class="form-check checkbox justify-content-center">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </th>
                                                    <th>Name</th>
                                                    <th>Email ID</th>
                                                    <th>Employee Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="d-flex align-items-center">
                                                        <div class="form-check checkbox justify-content-center">
                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                            <label class="form-check-label" for="exampleCheck1"></label>
                                                        </div>
                                                    </td>
                                                    <td>Betty Robert</td>
                                                    <td>kim@ncri.com</td>
                                                    <td>Agent</td>
                                                    <td>
                                                        <a class="pr-3" href="javascript:void(0)"> <i class="fa fa-pencil text-info"></i></a>
                                                        <a class="pr-3" href="javascript:void(0)"> <i class="fa fa-trash-o"></i></a>
                                                        <a href="javascript:void(0)"> <i class="fa fa-eye"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <div class="pull-right">
                                        <a href="javascript:void(0)" class="button w-130 mr-3">Create</a>
                                        <a href="javascript:void(0)" class="button button-border w-130">Cancel</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>   
                </div> 
            </div>

        </div>
    </div>
</div>