.form-control:focus {
    border-color: rgba(11, 12, 12, 0.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 15px rgba(92, 156, 230, 0.6);
    box-shadow: 0 0 15px rgba(28, 29, 82, 0.6) !important;
}