<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)" class="gray-color">
                                    <i class="ti-layers-alt mr-1"></i> EMR Summary Report
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title mb-0"> EMR Summary Report</h5>
                            <!-- <h5 class="page-title text-center">CAT-D Hospital Mamad Gat</h5> -->
                            <hr class="gray">
                            <div class="row mx-0">
                                <div class="col-md-12">
                                    <form class="form-inline d-print-none" novalidate [formGroup]="form">
                                        <label class="mr-2">From</label>
                                        <input type="text" class="form-control col-3 mr-2" placeholder="Start Date" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="dateYMD" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="medOb.startDate">
                                        <label class="mr-2">To</label>
                                        <input type="text" class="form-control col-3 mr-2" placeholder="End Date" #datepickerYMD="bsDatepicker" bsDatepicker formControlName="dateYMD" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="medOb.endtDate">
                                        <button class="button mr-2" (click)="searchReport(medOb)"><i class="ti-search mr-2"></i>Search</button>
                                        <button class="button-danger" (click)="searchReport(medOb)"><i class="ti-brush-alt mr-2"></i>Clear</button>
                                    </form>
                                    <div class="row mx-0">
                                        <div class="col-md-6 mt-3" *ngIf="!loader_eqp">
                                            <p class="mb-2 mt-3"><b>OPD Services </b></p>
                                            <p class="ml-3 mt-3" *ngFor="let op of reporData.opd;index as i">{{i+1}}- {{op.name}} = {{op.count}}</p>

                                            <p class="ml-3 mt-3"> Total Caseload = (sum of above) </p>

                                            <p class="mb-2 mt-3"><b>IPD Services </b></p>
                                            <p class="ml-3 mt-3">1- Total Admission = <span *ngIf="reporData.ipd.total!=null"> {{reporData.ipd.total}}</span> <span *ngIf="reporData.ipd.total==null">0</span> </p>
                                            <p class="ml-3 mt-3">2- Discharged = <span *ngIf="reporData.ipd.discharge!=null"> {{reporData.ipd.discharge}}</span> <span *ngIf="reporData.ipd.discharge==null">0</span></p>
                                            <p class="ml-3 mt-3">3- LAMA = <span *ngIf="reporData.ipd.lama!=null"> {{reporData.ipd.lama}}</span> <span *ngIf="reporData.ipd.lama==null">0</span> </p>
                                            <p class="ml-3 mt-3">4- Deaths = <span *ngIf="reporData.ipd.deaths!=null"> {{reporData.ipd.deaths}}</span> <span *ngIf="reporData.ipd.deaths==null">0</span> </p>
                                            <p class="ml-3 mt-3">5- Referred = <span *ngIf="reporData.ipd.referred!=null"> {{reporData.ipd.referred}}</span> <span *ngIf="reporData.ipd.referred==null">0</span></p>


                                            <p class="mb-2 mt-3"><b>Surgical Services </b></p>
                                            <p class="ml-3 mt-3">1- Total Surgeries Performed = {{reporData.surgical.total}}</p>

                                            <p class="mb-2 mt-3"><b>Delivery Services</b></p>
                                            <p class="ml-3 mt-3">1- Normal Deliveries Conducted = <span *ngIf="reporData.delivery.normal!=null"> {{reporData.delivery.normal}}</span> <span *ngIf="reporData.delivery.normal==null">0</span></p>
                                            <p class="ml-3 mt-3">2- C-Section Performed = <span *ngIf="reporData.delivery.cesarean!=null"> {{reporData.delivery.cesarean}}</span> <span *ngIf="reporData.delivery.cesarean==null">0</span></p>
                                            <p class="ml-3 mt-3">3- Assisted Deliveries Conducted = <span *ngIf="reporData.delivery.assisted!=null"> {{reporData.delivery.assisted}}</span> <span *ngIf="reporData.delivery.assisted==null">0</span></p>

                                            <p class="mb-2 mt-3"><b>Diagnostics Services</b></p>
                                            <p class="ml-3 mt-3">1- No of X-rays = {{reporData.diagnostics.xRays}}</p>
                                            <p class="ml-3 mt-3">2- No of Lab Test = {{reporData.diagnostics.labs}} </p>
                                            <p class="ml-3 mt-3">3- No of Ultrasound = {{reporData.diagnostics.ultrasounds}} </p>

                                            <p class="mb-2 mt-3"><b>EPI Services</b></p>
                                            <p class="ml-3 mt-3">1- No of women vaccinated against TT = <span *ngIf="reporData.epi.tt!=null"> {{reporData.epi.tt}}</span> <span *ngIf="reporData.epi.tt==null">0</span></p>
                                            <p class="ml-3 mt-3">2- No of Children vaccinated against BCG = <span *ngIf="reporData.epi.bcg!=null"> {{reporData.epi.bcg}}</span> <span *ngIf="reporData.epi.bcg==null">0</span></p>
                                            <p class="ml-3 mt-3">3- No of Children vaccinated against Polio = <span *ngIf="reporData.epi.polio!=null"> {{reporData.epi.polio}}</span> <span *ngIf="reporData.epi.polio==null">0</span></p>
                                            <p class="ml-3 mt-3">4- No of Children vaccinated against DPT-III = <span *ngIf="reporData.epi.dpt!=null"> {{reporData.epi.dpt}}</span> <span *ngIf="reporData.epi.dpt==null">0</span></p>
                                            <p class="ml-3 mt-3">5- No of Children vaccinated against Measles = <span *ngIf="reporData.epi.measles!=null"> {{reporData.epi.measles}}</span> <span *ngIf="reporData.epi.measles==null">0</span></p>

                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 mt mt-5 d-print-none">
                                            <div class="form-group text-center">
                                                <button type="button" (click)="printPage()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn">
                                            <i class="fa fa-print"></i> Print
                                        </button>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                                <div class="spinner-border theme-color" role="status">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
