<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/ward/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Prescreption</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row" id="print-section">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                                    <h1 class="text-center"><b>MERF</b></h1>
                                    <h5 class="text-center"><b>Discharged Card</b> </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5><b>Department :</b> <span class="ml-3"> {{pharmacyData.departmentName}}</span></h5>
                                    <h5><b>Patient Name :</b> <span class="ml-3"> {{pharmacyData.firstname}}</span></h5>
                                    <h5><b>Father's/Husband's Name : </b> <span class="ml-3">{{pharmacyData.f_hName}}</span></h5>
                                    <h5><b>Age :</b> <span class="ml-3"><span *ngIf="pharmacyData.ageYear!=0">{{pharmacyData.ageYear}} Years </span >
                                         <span *ngIf="pharmacyData.ageYear==0">{{pharmacyData.ageMonth}} months</span>
                                        </span>
                                    </h5>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5><b>Gender : </b><span class="ml-3 text-capitalize">{{pharmacyData.gender}}</span></h5>
                                    <h5><b>Bed No : </b><span class="ml-3">{{pharmacyData.bedNo}}</span></h5>
                                    <!-- <h5><b>Admission No :</b> <span class="ml-3">not available in service</span> </h5> -->
                                    <h5><b>Address :</b> <span class="ml-3">{{pharmacyData.address}}</span> </h5>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt-3" style="border-bottom: #000 2px solid;"></div>
                                <div class="col-lg-5 col-md-5 col-sm-5" style="border-right: #000 2px solid;">
                                    <h5 class="mb-1 mt-4"><b>Diagnosis</b></h5>
                                    <h6 class="mb-1 ml-3"><b>Provisional</b> </h6>
                                    <h6 class="mb-1 ml-4" *ngFor="let dig of diagnosis;let i=index"><span>{{i+1}})</span> {{dig.name}}</h6>
                                    <h5 class="mb-1"><b>Chief Complaints</b></h5>
                                    <h6 class="mb-1 ml-4" *ngFor="let com of complaint;let j=index">
                                        <span *ngIf="complaint.length>0"> {{j+1}}) {{com.name}}</span>
                                        <!-- <span *ngIf="complaint<0">Not Added</span> -->
                                    </h6>
                                    <h5 class="mb-2"><b>Treatment at Hospital</b></h5>
                                    <h6 class="mb-2 ml-4" *ngFor="let thosp of pharmacyData.hospitalTreatments;let j=index">
                                        <span class="">{{j+1}})</span> {{thosp.medicine}}
                                        <span class="mb-1 ml-4">{{thosp.unit}} </span>
                                        <span class="mb-1 ml-4">
                                             <span *ngIf="thosp.dose=='SOS'">When Required</span>
                                        <span *ngIf="thosp.dose=='OD'">Daily</span>
                                        <span *ngIf="thosp.dose=='STAT'">Take Immediately</span>
                                        <span *ngIf="thosp.dose=='BiD'">1+0+1</span>
                                        <span *ngIf="thosp.dose=='TDS'">1+1+1</span>
                                        <span *ngIf="thosp.dose=='Qid'">1+1+1+1</span>
                                        </span>
                                        <span class="mb-1 ml-4">{{thosp.duration}} </span>
                                        <span class="mb-1 ml-4">{{thosp.prandial}} </span>
                                    </h6>
                                    <h5 class="mb-1"><b>Investibations</b></h5>
                                    <h6 class="mb-1 ml-4" *ngFor="let inv of pharmacyData.investigations; let l=index">
                                        <span class="">{{l+1}})</span> {{inv.testName}}
                                        <span class="mb-1 ml-4">{{inv.result}} </span>
                                    </h6>
                                    <h5 class="mb-1 mt-4"><b>Procedure Notes (if any)</b></h5>
                                    <h6 class="mb-1 ml-4">{{pharmacyData.operativeProcedure}}</h6>
                                    <h5 class="mb-1 mt-4"><b>Treatment at Home</b></h5>
                                    <h6 class="mb-1 ml-4" *ngFor="let pres of pharmacyData.homeTreatments;let k=index">
                                        <span class="">{{k+1}})</span> {{pres.medicine}}
                                        <span class="mb-1 ml-4">{{pres.unit}} </span>
                                        <span class="mb-1 ml-4">
                                        <span *ngIf="pres.dose=='SOS'">When Required</span>
                                        <span *ngIf="pres.dose=='OD'">Daily</span>
                                        <span *ngIf="pres.dose=='STAT'">Take Immediately</span>
                                        <span *ngIf="pres.dose=='BiD'">1+0+1</span>
                                        <span *ngIf="pres.dose=='TDS'">1+1+1</span>
                                        <span *ngIf="pres.dose=='Qid'">1+1+1+1</span>
                                        </span>
                                        <span class="mb-1 ml-4">{{pres.duration}} </span>
                                        <span class="mb-1 ml-4">{{pres.prandial}} </span>
                                    </h6>
                                    <h5 class="mb-1 mt-4"><b>Follow-up</b></h5>
                                    <h6 class="mb-1 ml-4">
                                        <span *ngIf="pharmacyData.refferel!=null">{{pharmacyData.refferel}}</span>
                                        <span *ngIf="pharmacyData.refferel==null">Not Added</span>
                                    </h6>
                                </div>
                                <!-- <div class="col-lg-1"></div> -->
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <h5 class="mb-1 mt-4"><b>Final</b></h5>
                                    <h6 class="mb-1 ml-3">{{pharmacyData.prescription.signs}}</h6>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 mt mt-5 d-print-none">
                                    <div class="form-group text-center">
                                        <button type="button" (click)="printPage()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i
                                            class="fa fa-print"></i> Print
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div *ngIf="userLoader" class="d-flex justify-content-center">
                        <div class="spinner-border theme-color" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>