<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)" [routerLink]="['/admin/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)"> Details</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <!-- <div class="row mb-2">
                            <div class="page-title col-lg-3 col-md-3 col-sm-3 col-xs-3">Patient Name : <b>{{detailsData.firstname}}</b> </div>
                            <div class="page-title col-lg-3 col-md-3 col-sm-3 col-xs-3">Father/Husband Name : <b>{{detailsData.f_hName}}</b> </div>
                            <div class="page-title col-lg-3 col-md-3 col-sm-3 col-xs-3">CRP No : <b>{{detailsData.token}}</b> </div>
                            <div class="page-title col-lg-3 col-md-3 col-sm-3 col-xs-3">CNIC : <b>{{detailsData.cnic}}</b> </div>
                        </div> -->

                        <div class="row">
                            <div class="page-title col-md-3">Village : <b>{{showDataDetails.village}}</b> </div>
                            <div class="page-title col-md-3">Sex/Age : <b>
                                <span>{{detailsData.gender}}</span>/
                                <span *ngIf="detailsData.ageYear!=0">{{detailsData.ageYear}}Y</span>
                                <span *ngIf="detailsData.ageMonth!=0">{{detailsData.ageMonth}}M</span>

                            </b> </div>
                            <div class="page-title col-md-2">MR# : <b>{{detailsData.patientID}}</b> </div>
                            <div class="page-title col-md-2">CRP# : <b>{{detailsData.token}}</b> </div>
                            <div *ngIf="detailsData.hospitalID==2" class="page-title col-md-2">CNIC : <b>{{detailsData.cnic}}</b> </div>
                        </div>
                        <br>
                        
                            <div class="row mx-0 border4">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4>Details</h4>
                                </div>
                                <hr class="hr-gray">
                                    
                                        <div class="page-title col-md-3">Village : <b>{{showDataDetails.village}}</b> </div>
                                        <div class="page-title col-md-3">Name of District : <b>{{showDataDetails.district}}</b> </div>
                                        <div class="page-title col-md-3">Name of Taluka : <b>{{showDataDetails.taluka}}</b> </div>
                                        <div class="page-title col-md-3">Name of Union Council : <b>{{showDataDetails.union_council}}</b> </div>
                                   
                                
                                <!-- <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Male Participants</label>
                                        <input type="text" formControlName="male_participants" class="form-control" id="formGroupExampleInput" placeholder="Male Participants">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Female Participants</label>
                                        <input type="text" formControlName="female_participants" class="form-control" id="formGroupExampleInput" placeholder="Female Participants">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NO of IECC Recieved</label>
                                        <input type="text" formControlName="iecc_received" class="form-control" id="formGroupExampleInput" placeholder="NO of IECC Recieved">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NO of People Recieved IECC </label>
                                        <input type="text" formControlName="iecc_received" class="form-control" id="formGroupExampleInput" placeholder="NO of People Recieved IECC">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NO of People Recieved PPEs</label>
                                        <input type="text" formControlName="ppes_received" class="form-control" id="formGroupExampleInput" placeholder="NO of People Recieved PPEs">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>No. of COVID Active Positive Cases</label>
                                        <input type="text" formControlName="active_positive_cases" class="form-control" id="formGroupExampleInput" placeholder="No. of COVID Active Positive Cases">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label> Developed  Linkage with Dist. Focal Person </label> <br>
                                    <div class="custom-radio custom-control-inline mr-md-5">
                                        
                                        <div class="form-check">
                                           
                                            <input class="form-check-input" type="radio" formControlName="linkage_with_dist" id="gridRadios21" value="0" [checked]='true' (change)="changeCheckboxVal($event)">
                                            <label class="form-check-label" for="gridRadios21">Yes</label>
                                        </div>
                                        
                                    </div>
                                    <div class="custom-radio custom-control-inline mr-md-5">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" formControlName="linkage_with_dist" id="gridRadios31" value="1" (change)="changeCheckboxVal($event)">
                                            <label class="form-check-label" for="gridRadios31">NO</label>
                                        </div>
                                    </div> 
                                    
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> Developed Linkages for community/call center/psychiatry team  for MHPSS </label> 
                                            
                                        <input type="text" formControlName="linkages_for_community" class="form-control" id="formGroupExampleInput" placeholder="Developed Linkages for community ">
                                    </div>
                                </div>
                                
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Sharing of data of active positive cases data with Tele psychiatry team for counselling/follow-up through phone  </label> 
                                       
                                            
                                            <div class="custom-radio custom-control-inline mr-md-5">
                                                
                                                <div class="form-check">
                                                   
                                                    <input class="form-check-input" type="radio" formControlName="sharing_with_tele" id="gridRadios55" value="0" [checked]='true' (change)="changeCheckboxVal($event)">
                                                    <label class="form-check-label" for="gridRadios21">Yes</label>
                                                </div>
                                                
                                            </div>
                                            <div class="custom-radio custom-control-inline mr-md-5">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" formControlName="sharing_with_tele" id="gridRadios56" value="1" (change)="changeCheckboxVal($event)">
                                                    <label class="form-check-label" for="gridRadios31">NO</label>
                                                </div>
                                            </div> 
                                           
                                    </div>
                                </div>
                                -->
                                  
                                
                                <!-- <div class="col-lg-12">
                                    <hr class="hr-gray my-5">
                                </div> -->
                                
                                  
                               
                               
                                
                                <!-- <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> No. of people mobilized for COVID vaccination in village above 40+  </label>
                                        <input type="text" formControlName="mobilized_for_vaccination" class="form-control" id="formGroupExampleInput" placeholder="No. of peoples mobilized for  COVID  vaccination in village above 40 + age">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> No. of people visiting nearby govt. HF for medical facility/service </label>
                                        <input type="text" formControlName="visiting_nearby_govt_health_facility" class="form-control" id="formGroupExampleInput" placeholder="No. of people visiting nearby govt. health facility for medical facility / service ">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> No. of female developed linkages with HFs for MNCH services </label>
                                        <input type="text" formControlName="female_mobilized" class="form-control" id="formGroupExampleInput" placeholder="No. of female developed linkages with HFs for MNCH services">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> No. of people mobilized for routine  vaccination ( EPI) </label>
                                        <input type="text" formControlName="mobilized_for_routine_vaccination" class="form-control" id="formGroupExampleInput" placeholder="No. of people mobilized for routine  vaccination ( EPI)">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> Most preferred / localized Social media mode </label>
                                        <input type="text" formControlName="social_media_mode" class="form-control" id="formGroupExampleInput" placeholder="Most preferred / localized Social media mode">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label> Listeners  of FM radio  in local community </label>
                                        <input type="text" formControlName="listeners_of_fm" class="form-control" id="formGroupExampleInput" placeholder="Listeners  of FM radio  in local community ">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contact details of community  notable for further coordination </label>
                                        <input type="text" formControlName="contact_details" class="form-control" id="formGroupExampleInput" placeholder="Contact details of community  notable for further coordination">
                                    </div>
                                </div>
                               
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>No of Cases reported to District Child protection unit </label>
                                        <input type="text" formControlName="cases_reported_to_child_protection" class="form-control" id="formGroupExampleInput" placeholder="No of Cases reported to District Child protection unit">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comments </label>
                                        <input type="text" formControlName="comments" class="form-control" id="formGroupExampleInput" placeholder="Comments ">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Take photos ( 2-3 photos ) </label>
                                        <input type="file" formControlName="photos" (change)="onSelectFile($event)" class="form-control" id="formGroupExampleInput" placeholder="Photos">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Photo of Attd. Sheet  </label>
                                        <input type="file" formControlName="photo_of_attd_sheet" (change)="onSelectFileSheet($event)" class="form-control" id="formGroupExampleInput" placeholder="Photo of Attd. Sheet ">
                                    </div>
                                </div>
                                <div class="col-sm-4 mt-5" *ngIf="imageUrlSheet!=''">
                                    
                                    <span class="ml-5 ">
                                        <img src="{{imageUrlSheet}}" width="60" height="40" alt="img">
                                    </span>
                                
                                </div>
                                <div class="col-sm-12" *ngIf="imageArr.length>0">
                                    
                                    <span class="col-sm-2 " *ngFor="let img of imageArr">
                                        <img src="{{img}}" width="60" height="40" alt="img">
                                    </span>
                                
                                </div> -->
                                <!-- <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Remarks   </label>
                                        <input type="text" formControlName="remarks" class="form-control" id="formGroupExampleInput" placeholder="Remarks ">
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-xs-2 mt-4">
                                    <div class="form-group mt-2 text-center">
                                        <button type="button" (click)="addmoreMedics()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="fa fa-plus mr-2"></i>Add More </button>
                                    </div>
                                </div> -->
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="medicShow">
                                    <h6> Treatment</h6>
                                    <div class="table-responsive cutomtable">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th>Medicine</th>
                                                    <th>Prescribed Quantity</th>
                                                    <th>Dose</th>
                                                    <th>Prandial</th>
                                                    <th>Remarks</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" *ngFor="let addArr of medicinesFinal;let m=index;">
                                                    <td>{{addArr.medicine}}</td>
                                                    <td>{{addArr.prescribedQuantity}}</td>
                                                    <td>
                                                        <span *ngIf="addArr.dose=='SOS'">When required</span>
                                                        <span *ngIf="addArr.dose=='OD'">Daily</span>
                                                        <span *ngIf="addArr.dose=='STAT'">Take Immediately</span>
                                                        <span *ngIf="addArr.dose=='BiD'">1+0+1</span>
                                                        <span *ngIf="addArr.dose=='TDS'">1+1+1</span>
                                                        <span *ngIf="addArr.dose=='Qid'">1+1+1+1</span>
                                                    </td>
                                                    <td>{{addArr.prandial}}</td>
                                                    <td>{{addArr.remarks}}</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <a href="javascript:void(0)" class="float-right" (click)="removeArr(m)"><i class="fa fa-close text-danger"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <br>
                                
                                <hr class="hr-gray mx-0">
                                
                                <!-- to show other medics array -->
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="otherMedicsHome2.length>0">
                                    <h6> Other Medics</h6>
                                    <div class="table-responsive cutomtable">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th>SNo</th>
                                                    <th>Treatment</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" *ngFor="let addArr2 of otherMedicsHome2;let k=index;">
                                                    <td>{{k+1}}</td>
                                                    <td>{{addArr2}}</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <a href="javascript:void(0)" class="float-right" (click)="removeArr2(k)"><i class="fa fa-close text-danger"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <!-- to show other medics array -->
                                <!-- previous treatments start -->
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h6>Previous Home Treatment</h6>
                                    <div class="table-responsive cutomtable">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th>Medicine</th>
                                                    <th>Unit</th>
                                                    <th>Type</th>
                                                    <th>Prescribed Quantity</th>
                                                    <th>Dose</th>
                                                    <th>Prandial</th>
                                                    <th>Remarks</th>
                                                    <th>Dept</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="hometreatment!='undefined' || hometreatment.length!=0 ">
                                                <tr class="" *ngFor="let dis_treat of hometreatment">
                                                    <td>{{dis_treat.medicine}}</td>
                                                    <td>{{dis_treat.unit}}</td>
                                                    <td>{{dis_treat.type}}</td>
                                                    <td>{{dis_treat.prescribedQuantity}}</td>
                                                    <td>
                                                        <span *ngIf="dis_treat.dose=='SOS'">When required</span>
                                                        <span *ngIf="dis_treat.dose=='OD'">Daily</span>
                                                        <span *ngIf="dis_treat.dose=='STAT'">Take Immediately</span>
                                                        <span *ngIf="dis_treat.dose=='BiD'">1+0+1</span>
                                                        <span *ngIf="dis_treat.dose=='TDS'">1+1+1</span>
                                                        <span *ngIf="dis_treat.dose=='Qid'">1+1+1+1</span>
                                                    </td>
                                                    <td>{{dis_treat.prandial}}</td>
                                                    <td>{{dis_treat.remarks}}</td>
                                                    <td>{{dis_treat.departmentName}}</td>
                                                    <td>
                                                        <div class="form-group">
                                                            
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <!-- previos treatment other medics -->
                                <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h6>Previous Home Treatment other medicines</h6>
                                    <p>
                                        <span *ngIf="otherMedicsHome!='null' || otherMedicsHome!=''">
                                            {{otherMedicsHome}}
                                        </span>
                                    </p>
                                </div> -->
                                <!-- previous treatment ended -->
                            </div>
                            <hr class="gray">
                            <div class="form-group row mx-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4">
                                    <div class="form-group text-center">
                                        <button type="button" *ngIf="loaderMedic" class="button">
                                            <span class="spinner-border mr-2" role="status" aria-hidden="true"></span>Saving Data
                                        </button>
                                        <button type="button" *ngIf="!loaderMedic" (click)="add_mhpss_session()" class="button">
                                            <i class="fa fa-check-square mr-2"></i>Save Data
                                        </button>
                                    </div>
                                   
                                  
                                </div>
                            </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h5>Discharge Or Reffer</h5>
    <div class="custom-radio custom-control-inline mr-md-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="access_type" id="gridRadios21" value="0" [checked]='true' (change)="changeCheckboxVal($event)">
            <label class="form-check-label" for="gridRadios21">Discharge</label>
        </div>
    </div>
    <div class="custom-radio custom-control-inline mr-md-5">
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="access_type" id="gridRadios31" value="1" (change)="changeCheckboxVal($event)">
            <label class="form-check-label" for="gridRadios31">Reffer to other Dept</label>
        </div>
    </div>
</div> -->
