<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/admin/home']" class="gray-color"><i class="ti-home mr-1"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color">Complaints </a></li>
                            <!-- <li class="breadcrumb-item active gray-04-color">Commission</li> -->
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="card-title mb-0">Complaints </h5>
                                </div>
                                <div class="col-md-6">
                                    <span class="pull-right btn btn-sm">
                                        <button type="button" class="button" (click)="openModAdd(ComplaintsAdd)">
                                            <i class="fa fa-plus"></i> Add Complaints
                                        </button>
                                    </span>
                                </div>
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table center-aligned-table">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Complaints</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let com of allComplaints;index as i">
                                                <td>{{i+1}}</td>
                                                <td>{{com.name}}</td>
                                                <td class="text-center">
                                                    <button class="mr-1 btn btn-info" (click)="openModedit(ComplaintsEdit,com)"><i class="ti-pencil-alt"></i></button>
                                                    <!-- model for Complaints Update start-->
                                                    <ng-template #ComplaintsEdit>
                                                        <div class="modal-header">
                                                            <h4 class="modal-title pull-left">Edit Complaints</h4>
                                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body p-5">
                                                            <div class="form-group row">
                                                                <div class="col-sm-2 mt-3"><label for="inputState">Complaints</label></div>
                                                                <div class="col-sm-10">
                                                                    <input type="text" class="form-control input-sm" name="UComplaintsname" id="UComplaintsname" [(ngModel)]="EmedOb.Ename">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-lg btn-default" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                                            <button type="button" class="btn btn-lg btn-info" (click)="updateComp(EmedOb)"><i class="fa fa-check-square"></i> Update Complaints</button>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for Complaints Update end-->
                                                    <button class="btn btn-danger" (click)="openModdelete(Complaintsdelete,com)"><i class="ti-trash"></i></button>
                                                    <!-- model for Complaints delete start-->
                                                    <ng-template #Complaintsdelete>
                                                        <div class="modal-body p-5 text-center">
                                                            <i class="fa fa-exclamation-circle mb-3 fa-5x text-warning"></i>
                                                            <p>Are You Sure To delete this Item!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                                                            <button type="button" class="btn btn-danger" (click)="deleteComp()"><i class="ti-trash"></i> Delete</button>
                                                        </div>
                                                    </ng-template>
                                                    <!-- model for Complaints delete end-->
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div *ngIf="loader_eqp" class="d-flex justify-content-center">
                                        <div class="spinner-border theme-color" role="status">
                                            <span class="sr-only"></span>
                                        </div>
                                    </div>
                                    <hr class="hr-gray mx-3 my-3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- model for Add Complaints download start-->
            <ng-template #ComplaintsAdd>
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Add Complaints</h4>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #UserForm="ngForm">
                        <div class="form-group row">
                            <div class="col-sm-2 mt-3"><label for="inputState">Complaints</label></div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" name="UComplaintsname" id="UComplaintsname" [(ngModel)]="medOb.name" required #UComplaintsname="ngModel">
                                <div *ngIf="UComplaintsname.invalid && (UComplaintsname.dirty || UComplaintsname.touched)" class="text-danger">
                                    <div *ngIf="UComplaintsname.errors.required">
                                        Complaint is required *
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-default" (click)="modalRef.hide()"><i class="fa fa-remove"></i> Cancel</button>
                    <button type="button" class="btn btn-lg btn-success" [disabled]="UserForm.form.invalid" (click)="addNewCom(medOb)"><i class="fa fa-check-square"></i> Add Complaints</button>
                </div>
            </ng-template>
            <!-- model for Add Complaints download end-->

        </div>
    </div>
</div>
<!-- ------------------------------------------------------- -->

<!-- <div *ngIf="loader_eqp " class="text-center ">
    <i class="fa fa-pulse fa-spinner fa-3x fa-fw "></i>
</div> -->