<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)" [routerLink]="['/ward-list/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)"> Discharged Patient</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        <h5 class="card-title mb-0">Treatment</h5>
                        <form novalidate [formGroup]="treatmentForm" >
                            <hr class="gray">
                            <div class="form-group row mx-0">
                                <div class="col-md-12">
                                    <h5>Treatment</h5>
                                </div>
                                <hr class="hr-gray">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Medicine Name</label>
                                        <input type="text" formControlName="med_name"  [typeahead]="gettreatmetData" typeaheadOptionField="itemName" (typeaheadOnSelect)="onSelectMedics($event)"  name="medicName" class="form-control" id="formGroupExampleInput" placeholder="Enter Medicine Name">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <input type="text" formControlName="med_unit" class="form-control" id="formGroupExampleInput" placeholder="500 ml">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Type</label>
                                        <input type="text" formControlName="med_type" class="form-control" id="formGroupExampleInput" placeholder="Enter Medicine Type">
                                    </div>
                                </div>
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label>In Stock</label>
                                        <input type="text" formControlName="med_instock" disabled='true' class="form-control" id="formGroupExampleInput" placeholder="In Stock">
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Prescribed Quantity</label>
                                        <input type="text" formControlName="med_quantity" class="form-control" id="formGroupExampleInput" placeholder="Prescribed Quantity">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group input-group">
                                        <label>Dose</label>
                                        <span class="wrapper-select">
                                            <select class="form-control" formControlName="med_dose" aria-label="Text input with segmented dropdown button" placeholder="Is Follow Up">
                                                <option>Select Dose</option>
                                                <option value='SOS'>SOS</option>
                                                <option value="OD">OD</option>
                                                <option value="STAT"> STAT</option>
                                                <option value="BiD">BiD</option>
                                                <option value="TDS">TDS</option>
                                                <option value="QiD">QiD</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group input-group">
                                        <label>Prandial</label>
                                        <span class="wrapper-select">
                                            <select class="form-control" formControlName="med_parandials"  aria-label="Text input with segmented dropdown button" placeholder="Is Follow Up">
                                                <option value="">Select Prandial</option>
                                                <option value="Before Meal">Before Meal</option>
                                                <option value="In Between Meal">In Between Meal</option>
                                                <option value="After Meal">After Meal</option>
                                                <option value="Others">Others</option>
                                            </select>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Remarks/Dosing</label>
                                        <input type="text" formControlName="med_remark" class="form-control" id="formGroupExampleInput" placeholder="Remarks/Dosing">
                                    </div>
                                </div>
                                <div class="col-md-3 mt-4">
                                    <div class="form-group text-center">
                                        <button type="button" (click)="addmoreMedics()"  class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="fa fa-plus mr-2"></i>Add More </button>
                                    </div>
                                </div>
                                <div class="col-md-12"  *ngIf="medicShow">
                                    <h6>New Treatment</h6>
                                    <div class="table-responsive cutomtable">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th>Medicine</th>
                                                    
                                                    <th>Prescribed Quantity</th>
                                                    <th>Dose</th>
                                                    <th>Prandial</th>
                                                    <th>Remarks</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="" *ngFor="let addArr of medicinesFinal;let m=index;">
                                                    <td>{{m+1}})  {{addArr.medicine}}</td>
                                                   
                                                   
                                                    <td>{{addArr.prescribedQuantity}}</td>
                                                    <td>
                                                         <span *ngIf="addArr.dose=='SOS'">When required</span>
                                                         <span *ngIf="addArr.dose=='OD'">Daily</span>
                                                         <span *ngIf="addArr.dose=='STAT'">Take Immediately</span>
                                                         <span *ngIf="addArr.dose=='BiD'">1+0+1</span>
                                                         <span *ngIf="addArr.dose=='TDS'">1+1+1</span>
                                                         <span *ngIf="addArr.dose=='Qid'">1+1+1+1</span>

                                                    </td>
                                                    <td>{{addArr.prandial}}</td>
                                                    <td>{{addArr.remarks}}</td>
                                                    <td>
                                                        <div class="form-group">
                                                            <a href="javascript:void(0)" class="float-right" (click)="removeArr(m)"><i class="fa fa-close text-danger"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>