<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item active gray-04-color"><a href="javascript:void(0)" [routerLink]="['/pharma/home']" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)"> Consumeable Dispense</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="card-title mb-0"> Consumeable Dispense</h5>
                            <form novalidate>
                                <hr class="gray">
                                <div class="form-group row mx-0">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label>Item Name</label>
                                            <input [(ngModel)]="grnobj.itemName" [typeahead]="pharmacyData" typeaheadOptionField="itemName" [typeaheadOptionsLimit]='1000' [typeaheadMinLength]="0" [typeaheadScrollable]="true" autocomplete="off" (typeaheadOnSelect)="onSelectMedics($event)" class="form-control"
                                                name="medicName" placeholder="Enter Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label>Unit</label>
                                            <input type="text" [(ngModel)]="grnobj.unit" name="medicUnit" class="form-control" id="formGroupExampleInput" placeholder="Unit">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label>Type</label>
                                            <input type="text" [(ngModel)]="grnobj.type" name="medicType" class="form-control" id="formGroupExampleInput" placeholder="Type">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="form-group">
                                            <label>Select Batch</label>
                                            <span>
                                                <select [(ngModel)]="grnobj.stock" class="form-control" name="stock" (ngModelChange)="getdata(grnobj.stock)" aria-label="Text input with segmented dropdown button" placeholder="Select Stock" >
                                                    <!-- <option *ngFor="let stc of newArray.stock;let j=index" [value]="j" >{{stc.batchNo}}</option> (ngModelChange)="getdata(stc)"-->
                                                    <option selected value="">Select batch</option>
                                                    <option *ngFor="let stc of stckArr;let j=index" [ngValue]="stc" >{{stc.batchNo}}</option>
                                                </select>
                                            </span>
                                        </div>
                                        <!-- <span>{{batchNo}}</span> -->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="form-group">
                                            <label>Instock</label>
                                            <input type="text" [(ngModel)]="grnobj.totalQuantity" [disabled]='true' name="totalQuantity" class="form-control" placeholder="Instock">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="form-group">
                                            <label>Issued</label>
                                            <input type="text" [(ngModel)]="grnobj.quantity" name="quantity" class="form-control" placeholder="Issued Quantity">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="form-group">
                                            <label>Remarks</label>
                                            <input type="text" [(ngModel)]="grnobj.remarks" name="remarks" class="form-control" placeholder="Remarks">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pt-5">
                                        
                                            <label> </label>
                                            <button type="button" (click)="addToMedicArr(grnobj)" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" [disabled]="!grnobj.totalQuantity || !grnobj.stock || !grnobj.quantity"><i class="ti-save-alt"></i> Add</button>
                                        
                                    </div>
                                </div>
                                <hr class="gray" *ngIf="medArray.length!=0">
                                <div class="form-group row mx-0" *ngIf="medArray.length!=0">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label>Item Name</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>Unit</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>Type</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>Batch</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <label>Total</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <label>Issued</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <label>Action</label>
                                    </div>
                                </div>
                                <div class="form-group row mx-0" *ngFor="let md of medArray; let i=index">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label>{{md.itemName}}</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>{{md.unit}}</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>{{md.type}}</label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <label>{{md.stock.batchNo}}</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <label>{{md.totalQuantity}}</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <label>{{md.quantity}}</label>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <a href="javascript:void(0)" (click)="removeArr(i)"><i class="fa fa-remove text-danger"></i></a>
                                    </div>
                                </div>
                                <hr class="gray">
                                <div class="form-group row mx-0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group text-center">
                                            <button type="button" *ngIf="!loader_eqp1" (click)="addDispenseOrd()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="ti-save-alt"></i> Save</button>
                                            <!-- <button type="button" *ngIf="!loader_eqp1" [disabled]="medArray.length==0" (click)="addDispenseOrd()" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn"><i class="ti-save-alt"></i> Save</button> -->
                                            <button type="button" *ngIf="loader_eqp1" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn">
                                                <span class="spinner-border theme-color" role="status">
                                                    <span class="sr-only"></span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>