<div class="container-fluid footer-container">
    <div class="row">
        <div class="content-wrapper .footer-wrapper p-0">
            <footer class="bg-white p-3" style="border-top: 3px #529dc9 solid;">
                <div class="row mx-0">
                    <div class="col-md-12 text-center">
                        <p class="mb-0">Copyright &copy; 2020. MERF. All Rights Reserved. Developed & Design by <a href="http://www.ozoqo.com/" class="text-primary" target="_blank"><em>OZOQO Technologies</em></a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>