<div class="side-menu-fixed">
    <div class="scrollbar side-menu-bg">
        <ul class="nav navbar-nav side-menu" id="sidebarnav">
            <li>
                <a class="underline-center" href="javascript:void(0)">
                    <i class="fa fa-dashboard"></i><span class="right-nav-text">Dashboard</span>
                </a>
            </li>
            <!-- menu item Dashboard-->
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['home']" routerLinkActive="active">
                    <i class="fa fa-hospital-o"></i><span class="right-nav-text">Home</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['diagnostic-list']" routerLinkActive="active">
                    <i class="fa fa-stethoscope"></i><span class="right-nav-text">Diagnosdtic List</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['pathology-list']" routerLinkActive="active">
                    <i class="fa fa-user-md"></i><span class="right-nav-text">Pathology List</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['radiology-list']" routerLinkActive="active">
                    <i class="fa fa-heartbeat"></i><span class="right-nav-text">Radiology List</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['pharmacy']" routerLinkActive="active">
                    <i class="fa fa-medkit"></i><span class="right-nav-text">Pharmacy</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['ambulance']" routerLinkActive="active">
                    <i class="fa fa-ambulance"></i><span class="right-nav-text">Ambulance</span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['signs']" routerLinkActive="active">
                    <i class="fa fa-plus-square"></i><span class="right-nav-text">Signs </span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['complaints']" routerLinkActive="active">
                    <i class="fa fa-television"></i><span class="right-nav-text">Complaints </span>
                </a>
            </li>
            <li>
                <a class="underline-center" href="javascript:void(0)" [routerLink]="['emrsummaryreport']" routerLinkActive="active">
                    <i class="ti-layers-alt"></i><span class="right-nav-text">EMR Summary Report </span>
                </a>
            </li>
        </ul>
    </div>
</div>