<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item" [routerLink]="['/lab-rad/home']"><a href="javascript:void(0)" class="gray-color"><i class="ti-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active gray-04-color">Pending Patients</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- main body -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <h5 class="page-title">Diagnostics Pathology</h5>
                            <div class="row mx-0">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark">
                                                    <th>S.No</th>
                                                    <th>Investigation Name</th>
                                                    <th>Investigation Type</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let pat of PathResponseArray; let i=index">
                                                    <!-- <span *ngIf="pat.isDirect==1"> -->
                                                    <td *ngIf="pat.isDirect==1">{{i+1}}</td>
                                                    <td  *ngIf="pat.isDirect==1">Radiology</td>
                                                    <td  *ngIf="pat.isDirect==1">{{pat.testName}}</td>
                                                    <td  *ngIf="pat.isDirect==1">
                                                        <a href="javascript:void(0)" class="text-info" (click)="openModalWithClass(template,pat)">View Report</a>
                                                    </td>
                                                <!-- </span> -->
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- <ng-template #template>
                                        <div class="modal-header">
                                            <h4 class="modal-title pull-left">Result Report</h4>
                                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row mx-0">
                                                <div class="col-md-12 mt-3">
                                                    <p class="mb-1 mt-3"><b>Token Number</b>
                                                        <span class="ml-4">{{pathData1.token}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 mt-3">
                                                    <p class="mb-1 mt-2"><b>Patient Name</b>
                                                        <span class="ml-4">{{pathData1.firstname}}</span>
                                                    </p>
                                                    <p class="mb-1 mt-3"><b>Date Of Birth</b>
                                                        <span class="ml-4">{{pathData1.dob | date}}</span>
                                                    </p>
                                                </div>
                                                <div class="col-md-6 mt-3">
                                                    <p class="mb-1 mt-3"><b>Father/Husband Name</b>
                                                        <span class="ml-4"> {{pathData1.f_hName}}</span>
                                                    </p>
                                                    <p class="mb-1 mt-3"><b>Mobile Number</b>
                                                        <span class="ml-4"> {{pathData1.cellNo}}</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <hr class="gray">
                                            <div class="row mx-0">
                                                <div class="col-md-12">
                                                    <p class="mb-2"><b>Test</b></p>
                                                </div>
                                            </div>
                                            <hr class="gray">
                                            <div class="table-responsive">
                                                <table class="table center-aligned-table">
                                                    <thead>
                                                        <tr class="text-dark">
                                                            <th>Test Type</th>
                                                            <th>Test Nme</th>
                                                            <th>Findings/ Results</th>
                                                            <th>Range</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!userData.subTests">
                                                        <tr>
                                                            <td>Pathology</td>
                                                            <td>{{userData.testName}}</td>
                                                            <td>
                                                                <form>
                                                                    <input type="text" [(ngModel)]="objPath.result" class="form-control"  id="findins" placeholder="Findings/ Results" name='result'>
                                                                </form>
                                                            </td>
                                                            <td> {{userData.refRange}}</td>
                                                        </tr>
                                                    </tbody>
                                                   
                                                    <tbody *ngIf="userData.subTests && userData.subTests.length>0">
                                                        <tr *ngFor="let tes of userData.subTests; let j=index">
                                                            <td>Pathology</td>
                                                            <td>{{tes.testName}}</td>
                                                            <td>
                                                                <form>
                                                                    <input type="text" [(ngModel)]="tes[j]" (blur)="saveTests(tes[j],tes)" class="form-control" id="findins" placeholder="Findings/ Results" name='result'>
                                                                </form>
                                                            </td>
                                                            <td> {{tes.refRange}}</td>
                                                        </tr>
                                                    </tbody>
                                                    
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button *ngIf="userData.subTests && userData.subTests.length>0" type="button" class="button"  (click)="updateTests()"><i class="fa fa-check-square"></i> Save</button>
                                            <button *ngIf="!userData.subTests" type="button" class="button" (click)="modalRef.hide()" (click)="updateSingleTest(objPath.result,userData)"><i class="fa fa-check-square"></i> Save</button>
                                        </div>
                                    </ng-template> -->
                                    <!-- new modal -->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Result Report</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <div class="row mx-0">
            <div class="col-md-12 mt-3">
                <p class="mb-1 mt-3"><b>Token Number</b>
                    <span class="ml-4">{{pathData1.token}}</span>
                </p>
            </div>
            <div class="col-md-6 mt-3">
                <p class="mb-1 mt-2"><b>Patient Name</b>
                    <span class="ml-4">{{pathData1.firstname}}</span>
                </p>
                <p class="mb-1 mt-3"><b>Date Of Birth</b>
                    <span class="ml-4">{{pathData1.dob | date}}</span>
                </p>
            </div>
            <div class="col-md-6 mt-3">
                <p class="mb-1 mt-3"><b>Father/Husband Name</b>
                    <span class="ml-4"> {{pathData1.f_hName}}</span>
                </p>
                <p class="mb-1 mt-3"><b>Mobile Number</b>
                    <span class="ml-4"> {{pathData1.cellNo}}</span>
                </p>
            </div>
        </div>
        <hr class="gray">
        <div class="row mx-0">
            <div class="col-md-3">
                <p class="mb-2"><b>Test</b></p>
            </div>
            <div class="col-md-9">
                <p class="mb-2"><b>Test Name</b></p>
            </div>
        </div>
        <hr class="gray">
        <div class="form-group row mx-0">
            <div class="col-sm-2 mt-3"><label for="inputState">Radiology</label></div>
            <div class="col-sm-10 mt-3">
                <span>{{userData.testName}}</span>
            </div>
            
        </div>
        <div class="form-group row mx-0">
            <div class="col-sm-2 mt-3"><label for="inputState">Findings</label></div>
            <div class="col-sm-8">
                <input type="text" [(ngModel)]="objPath.name" class="form-control input-sm" id="ARN" placeholder="Findings" name="findings">
            </div>
            <div class="col-sm-2 mt-3" (click)="addtoArr(objPath,userData)"><i class="fa fa-plus text-success"></i></div>
        </div>
        <div class="form-group row mx-0">
            <div class="col-sm-2 mt-3"></div>
            <div class="col-sm-10 mt-3">
                <p class="mb-2 mt-2"  *ngFor="let fa of finalAddArray; let s=index"><b>Finding {{s+1}} :  <span class="mb-2 ml-4">{{fa}}</span></b>
                    <span class="col-sm-2 mt-3 pull-right"><i class="fa fa-remove text-danger"></i></span>
                </p>
            </div>
            
        </div>
        <div class="form-group row mx-0">
            <div class="col-sm-2 mt-3"><label for="inputState">Diagnosis</label></div>
            <div class="col-sm-10">
                <input type="text" [(ngModel)]="objPath.diagnosis" class="form-control" id="DN" placeholder="Diagnosis" name="diagnosis">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="button" (click)="modalRef.hide()"><i class="fa fa-check-square"></i> Save</button>
    </div>
</ng-template>
<!-- ne wodal -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



