<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <!-- <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/reception/home']"><i class="ti-home mr-1"></i> Home</a></li>
                        </ol>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            
                            <!-- <alert [type]="alerts.type" *ngIf="showAlert" class="alert-fixpos">{{ alerts.msg }}</alert> -->
                            <div class="col-md-12">
                                <div class="form-group float-right">
                                    <!-- <button class="btn btn-lg btn-info" (click)="clear()" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                                        <i class="fa fa-plus mr-1"></i>Click here for New Registration
                                    </button> -->
                                </div>
                                <h4>Add Patient</h4>
                            </div>
                            <hr class="hr-gray mx-3 my-4">

                            <div id="collapseBasic">
                                <form [formGroup]="regisForm" novalidate>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group" [ngClass]="{'has-error': ((regisForm.get('firstname').touched || regisForm.get('firstname').dirty) && regisForm.get('firstname').errors)}">
                                                <label for="formGroupExampleInput">Full Name</label>
                                                <input type="text" id="firstname" formControlName="firstname" class="form-control" placeholder="Enter Patient Name">
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('firstname').touched || regisForm.get('firstname').dirty) &&  regisForm.get('firstname').errors)">
                                                    <span class="text-danger" *ngIf="regisForm.get('firstname').errors.required">
                                                        Name is required
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" [ngClass]="{'has-error': ((regisForm.get('f_hName').touched || regisForm.get('f_hName').dirty) && regisForm.get('f_hName').errors)}">
                                                <label for="formGroupExampleInput">Father Name</label>
                                                <input type="text" formControlName="f_hName" class="form-control" placeholder="Enter Patient Father Name">
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('f_hName').touched || regisForm.get('f_hName').dirty) &&  regisForm.get('f_hName').errors)">
                                                    <span class="text-danger" *ngIf="regisForm.get('f_hName').errors.required">
                                                        Father Name is required
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Mobile Number</label>
                                                <input type="text" formControlName="cellNo" class="form-control" placeholder="Enter Mobile Number">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" [ngClass]="{'has-error': ((regisForm.get('gender').touched || regisForm.get('gender').dirty) && regisForm.get('gender').errors)}">
                                                <label>Gender</label>
                                                <select class="form-control" formControlName="gender">
                                               
                                                <option selected value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Transgender">Transgender</option>
                                            </select>
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('gender').touched || regisForm.get('gender').dirty) &&  regisForm.get('gender').errors)">
                                                <span class="text-danger" *ngIf="regisForm.get('gender').errors.required">
                                                    Gender is required
                                                </span>
                                                </span>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-3">
                                            <div class="form-group" [ngClass]="{'has-error': ((regisForm.get('cnic').touched || regisForm.get('cnic').dirty) && regisForm.get('cnic').errors)}">
                                                <label for="formGroupExampleInput">CNIC Number</label>
                                                <input type="text" formControlName="cnic" class="form-control" placeholder="Enter CNIC Number">
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('cnic').touched || regisForm.get('cnic').dirty) &&  regisForm.get('cnic').errors)">
                                                    <span *ngIf="regisForm.get('cnic').errors.minlength || regisForm.get('cnic').errors.maxlength">
                                                        CNIC Number must be of 13 characters
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Date Of Birth</label>
                                                <input type="text" formControlName="dob" class="form-control" placeholder="Date of Birth" #datepickerYMD="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" placement="top">
                                                <span class="text-danger" *ngIf="!showdob && !showaddmsg">
                                                    Date Of Birth, Year or Month required *
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group mt-5 ml-4">
                                                <label for="formGroupExampleInput"><b>OR</b></label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Year</label>
                                                <input type="number" formControlName="year" class="form-control" placeholder="Enter Year">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Months</label>
                                                <input type="number" formControlName="months" class="form-control" placeholder="Months">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label for="formGroupExampleInput">Address</label>
                                                <input type="text" formControlName="address" class="form-control" placeholder="Enter Patient Address">
                                            </div>
                                        </div>
                                      
                                        <div class="col-md-2">
                                            <div class="form-groupp">
                                                <label for="formGroupExampleInput">Village</label>
                                                <input type="text" formControlName="village" class="form-control" placeholder="Enter Patient Villege">
                                            </div>
                                        </div>
                                    
                                            <div class="col-md-3" *ngIf="hospitalID!=2">
                                                <label>District</label>
                                                <select class="form-control" formControlName="district" (change)="onselectDist(regisForm.value.district)">
                                                    
                                                    <option *ngFor="let dis of distResponseArray; let z=index" [ngValue]="dis" [selected]="z == 0">{{dis.name}}</option>
                                                    
                                                </select>
                                            </div>
                                            <div class="col-sm-2" *ngIf="hospitalID!=2">
                                                <label class="" for="inputState">Tehsil/Taluka</label>
                                                <span *ngIf="loaderDists" class="spinner-border " role="status" aria-hidden="true"></span>
                                                <select *ngIf="!loaderDists" class="form-control" formControlName="tehsil_city" (change)="onselectTehsil(regisForm.value.tehsil_city)">
                                                    <option *ngFor="let teh of tehsilsResponseArray; let y=index" [ngValue]="teh">{{teh.name}}</option>
                                                    <!-- <option>Baizai</option>
                                                    <option>HaleemZai</option> -->
                                                </select>
                                            </div>
                                            <!-- <div class="col-sm-2" *ngIf="hospitalID!=2">
                                                <label class="" for="inputState">UC</label>
                                                <span *ngIf="loaderUc" class="spinner-border " role="status" aria-hidden="true"></span>
                                                <select *ngIf="!loaderUc" class="form-control" formControlName="uc" (change)="onselectUC(regisForm.value.uc)">
                                                    <option *ngFor="let ucs of ucResponseArray; let x=index" [value]="ucs.name">{{ucs.name}}</option>
                                                    
                                                </select>
                                            </div> -->
                                        
                                            <div class="col-md-3" *ngIf="hospitalID==2" >
                                                    <label>District</label>
                                                <select class="form-control" formControlName="district" (change)="onselectDist(regisForm.value.district)" required>
                                                    <!-- <option [defaultSelected] value='0'>Select district</option>  -->
                                                    <option *ngFor="let dis of distResponseArray; let z=index" [ngValue]="dis" [selected]="z == 0">{{dis.name}}</option>
                                                    
                                                </select>
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('district').touched || regisForm.get('district').dirty) &&  regisForm.get('district').errors)">
                                                <span class="text-danger" *ngIf="regisForm.get('district').errors.required">
                                                    Distric is required
                                                </span>
                                                </span>
                                            
                                            </div>
                                            <div class="col-sm-2" *ngIf="hospitalID==2">
                                                <label class="" for="inputState">Tehsil/Taluka</label>
                                                <span *ngIf="loaderDists" class="spinner-border " role="status" aria-hidden="true"></span>
                                                <select *ngIf="!loaderDists" class="form-control" formControlName="tehsil_city" (change)="onselectTehsil(regisForm.value.tehsil_city)" required>
                                                    <option *ngFor="let teh of tehsilsResponseArray; let y=index" [ngValue]="teh">{{teh.name}}</option>
                                                    
                                                </select>
                                                <span class="help-block text-danger" *ngIf="((regisForm.get('tehsil_city').touched || regisForm.get('tehsil_city').dirty) &&  regisForm.get('tehsil_city').errors)">
                                                    <span class="text-danger" *ngIf="regisForm.get('tehsil_city').errors.required">
                                                        Tehsil is required
                                                    </span>
                                                    </span>
                                            </div>
                                            <!-- <div class="col-sm-2" *ngIf="hospitalID==2"> -->
                                            <div class="col-sm-2" >
                                                <label class="" for="inputState">UC</label>
                                                <!-- <span *ngIf="loaderUc" class="spinner-border " role="status" aria-hidden="true"></span> -->
                                                <input type="text" formControlName="uc" class="form-control" placeholder="Enter Patient uc">
                                            </div>
                                            <!-- </div> -->
                                      
                                        <div class="col-md-12 text-center">
                                            <div class="form-group mt-2">
                                                <button type="submit" [disabled]="!regisForm.valid" class="btn btn-success btn-lg mr-2 mt-4" (click)="registerNewPat(regisForm.value,captureuser3)"><i class="fa fa-check-square"></i> Add Patient</button>

                                                <button class="btn  btn-danger btn-lg  mt-4" (click)="clear()" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                                                    <i class="fa fa-remove"></i> Cancel 
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <h3>Search</h3>
                            <hr class="hr-gray mx-3 my-4">

                            <form novalidate [formGroup]="searchForm">
                                <div class="row">
                                   
                                    <!-- <div class="col-md-3">
                                        <h5 class="card-title mb-0">Search By CNIC</h5>
                                    </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group" [ngClass]="{'has-error': ((searchForm.get('cnic').touched || searchForm.get('cnic').dirty) && searchForm.get('cnic').errors)}">
                                            <label for="formGroupExampleInput">Search by CNIC Number</label>
                                            <input type="text" id="cnic" formControlName="cnic" class="form-control" placeholder="Enter CNIC Number">
                                            <span class="help-block text-danger" *ngIf="((searchForm.get('cnic').touched || searchForm.get('cnic').dirty) &&  searchForm.get('cnic').errors)">
                                                <span *ngIf="searchForm.get('cnic').errors.minlength || searchForm.get('cnic').errors.maxlength">
                                                    CNIC Number must be Equal to 13 characters
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- [disabled]="!searchForm.valid" -->
                                    <div class="col-md-2">
                                        <div class="form-group mt-2">
                                            <label for="formGroupExampleInput"></label>
                                            <button class="btn btn-lg btn-success mt-4" *ngIf="loaderCNIC"> <span class="spinner-border mr-1" role="status" aria-hidden="true"></span>Searching</button>
                                            <button type="submit" class="btn btn-lg btn-success mt-4" *ngIf="!loaderCNIC" (click)="serchBycnic(captureuser)"><i class="fa fa-search mr-1"></i>Search</button>
                                            <!-- captureuser.show() -->
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group mt-5 ml-4">
                                            <label for="formGroupExampleInput"><b>OR</b></label>
                                        </div>
                                    </div>
                                    <!-- <hr class="hr-gray mx-3 my-4"> -->
                                    <!-- //-------------------search by toekn--------- -->
                                    <!-- <div class="col-md-12">
                                        <h5 class="card-title mb-0">Search By Token</h5>
                                    </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Search by Token ID</label>
                                            <input type="text" formControlName="token" class="form-control" placeholder="Enter Token">
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group mt-2">
                                            <label for="formGroupExampleInput"></label>
                                            <button class="btn btn-lg btn-success mt-4" *ngIf="loaderToken"><span class="spinner-border mr-1" role="status" aria-hidden="true"></span>Searching</button>
                                            <button class="btn btn-lg btn-success mt-4" *ngIf="!loaderToken" (click)="serchByToken(captureuser2)"><i class="fa fa-search mr-1"></i>Search</button>
                                            <!-- captureuser.show() -->
                                        </div>
                                    </div>
                                   
                                </div>
                                <!-- -------------------search by token------------ -->
                            </form>
                            
                            <!-- model for View patient start-->
                            <ng-template #captureuser>
                                <div class="modal-header">
                                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">Patients Data</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark text-center">
                                                    <th>S.No</th>
                                                    <th>Name/Father Name</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-center" *ngFor="let ncRes of nicResponseArray; let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>
                                                        <!-- <img class="mr-3" src="../../../assets/images/profile-avatar.png"> -->
                                                        <span>{{ncRes.firstname}} / {{ncRes.f_hName}}</span>
                                                    </td>
                                                    <td>{{ncRes.DateCreated|date}}</td>
                                                    <td><a href="javascript:void(0)" (click)="gotopatdetailsDetails(ncRes)" class="text-info">Detail</a></td>
                                                </tr>
                                                <tr colspan='4' *ngIf="nicResponseArray.length==0" class="text-center text-capitalize">No data available</tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- model for View patient end-->
                            <!-- model for View patient start-->
                            <ng-template #captureuser2>
                                <div class="modal-header">
                                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">patient Data</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table class="table center-aligned-table">
                                            <thead>
                                                <tr class="text-dark text-center">
                                                    <th>S.No</th>
                                                    <th>Name/Father Name</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr colspan='4' *ngIf="tokenResponseObj==undefined" class="text-center"> No data available</tr>
                                                <tr class="text-center" *ngIf="tokenResponseObj!=undefined">
                                                    <td>{{1}}</td>
                                                    <td>
                                                        <!-- <img class="mr-3" src="../../../assets/images/profile-avatar.png"> -->
                                                        <span>{{tokenResponseObj.firstname}} / {{tokenResponseObj.f_hName}}</span>
                                                    </td>
                                                    <td>{{tokenResponseObj.DateCreated|date}}</td>
                                                    <td><a href="javascript:void(0)" (click)="gotopatdetailsDetails(tokenResponseObj)" class="text-info">Detail</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </ng-template>
                            <!-- model for View patient end-->
                            <!-- model for View patient start-->
                            <ng-template #captureuser3 class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
                                        
                                <div class="modal-header">
                                    <h4 id="dialog-sizes-name1" class="modal-title pull-left">Generate Token</h4>
                                    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef3.hide()">
                                        <span aria-hidden="true"><i class="ti-close"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-12 mb-30">
                                           
                                                    <form novalidate>
                                                        <div class="row">
                                                            
                                                            <div class="col-md-6 mt-2">
                                                                <p class="mb-1 mt-2"><b>MR#</b>
                                                                    <span class="ml-4">{{patDataLocal.patientID}} </span>
                                                                </p>                                                                 
                                                                   
                                                               
                                                                <p class="mb-1 mt-3"><b>Father/Husband Name</b>
                                                                    <span class="ml-4"> {{patDataLocal.f_hName}}</span>
                                                                </p>
                                                               
                                                               
                                                               
                                                                
                                                            </div>
                                                            <div class="col-md-6 mt-3">
                                                                <p class="mb-1 mt-3"><b>Patient Name</b>
                                                                <span class="ml-4">{{patDataLocal.firstname}} </span>
                                                               </p>
                                                               <p class="mb-1 mt-3"><b>Gender</b>
                                                                <span class="ml-4"> {{patDataLocal.gender}}</span>
                                                            </p>
                                                            </div>
                        
                                                            <!-- model for View patient start-->
                                                           
                        
                                                        </div>
                                                    </form>
                                               
                                           
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="col-sm-3 mt-3"><label for="inputState">Select Clinic</label></div>
                                        <div class="col-sm-9">
                                            <span class="wrapper-select">
                                                        <select class="form-control" [(ngModel)]="objDoc3.doctor" (ngModelChange)="onselectDoctor(objDoc3.doctor)" name="doctor">
                                                            <option *ngFor="let docs of docResponseArray; let i=index" [value]="docs.id">{{docs.NAME}}</option>
                                                            <option [value]=0>Select Clinic</option>
                                                        </select>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="col-sm-3 mt-3"><label for="inputState">Referred From</label></div>
                                        <div class="col-sm-9">
                                            <span class="wrapper-select">
                                                        <select class="form-control" [(ngModel)]="objDoc3.reff" name='reff'>
                                                            <option selected value='Self'>Self</option>
                                                            <option value='RHC'>RHC</option>
                                                            <option value='BHU'>BHU</option>
                                                            <option value='GD'>GD</option>
                                                            <option value='MCH Center'>MCH Center</option>
                                                            <option value='LHW'>LHW</option>
                                                            <option value='Others'>Others</option>
                                                        </select>
                                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <div class="col-sm-12">
                                            <button class="button-info mr-3" *ngIf="age<10" (click)="childVacination(objDoc3)">
                                                        <i class="fa fa-plus"></i> Childe Vaccination
                                            </button>
                                            <button class="button mr-3" *ngIf="age>15 && (patDataLocal.gender=='female' || patDataLocal.gender=='Female')" (click)="ttvacination(objDoc3)">
                                                        <i class="fa fa-plus"></i> TT Vaccination
                                            </button>
                                            <button class="button-success mr-3" (click)="generateToken(objDoc3)">
                                                        <i class="fa fa-plus"></i> Generate Token
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="button-danger" (click)="modalRef3.hide()"><i class="fa fa-remove"></i> Close</button>
                                    </div>
                                </div>

                            </ng-template>
                            <!-- model for View patient end-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>