<div class="container-fluid container-wrapper">
    <div class="row">
        <div class="content-wrapper">
            <div class="page-title">
                <div class="row px-3 px-md-0">
                    <div class="col-sm-12 pl-0">
                        <ol class="breadcrumb pt-0 pr-0 my-2 float-left ">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" class="gray-color"><i class="fa fa-home mr-2"></i> Reception</a></li>
                            <li class="breadcrumb-item active gray-04-color">Print Token</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-30">
                    <div class="card card-statistics h-100">
                        <div class="card-body">
                            <form novalidate>
                                <div class="row">
                                    <div class="col-md-12 mt-2 text-center">
                                        <h4 class="mb-1 text-primary"><b>{{loginDetails.hospitalName}}</b></h4>
                                        <p class="mb-1 mt-3"><b>Token Number : </b>
                                            <span class="ml-4"> {{tokenData.token}}</span>
                                        </p>
                                        <p class="mb-1 mt-2"><b>Patient Name : </b>
                                            <span class="ml-4">{{tokenData.patient.firstname}}</span>
                                        </p>
                                        <p class="mb-1 mt-3"><b>Father/Husband Name : </b>
                                            <span class="ml-4"> {{tokenData.patient.f_hName}}</span>
                                        </p>
                                        <p class="mb-1 mt-3"><b>Referred to : </b>
                                            <span class="ml-4"> {{tokenData.deptName}}</span>
                                        </p>
                                        <p class="mb-1 mt-3"><b>Gender : </b>
                                            <span class="ml-4"> {{tokenData.patient.gender}}</span>
                                        </p>
                                        <p class="mb-1 mt-3"><b>Date Of Birth : </b>
                                            <span class="ml-4"> {{tokenData.patient.dob| date}}</span>
                                        </p>
                                        <p class="mb-1 mt-3"><b>Date : </b>
                                            <span class="ml-4"> {{tokenData.patient.DateCreated | date}}</span>
                                        </p>
                                        <!-- <div class="form-group mt-5 d-print-none">
                                            <button class="button" (click)="printPage()">
                                                <i class="fa fa-print"></i> Print Token
                                            </button>
                                        </div> -->
                                        <p class="mt-5 d-print-none"><strong>Status: {{status}}</strong></p>
                                        <!-- <div class="form-group mt-5 d-print-none">
                                            <input class="form-control mb-2 col-3" [(ngModel)]="ip" type="text" name="ip" placeholder="IP of printer with WebPRNT">
                                            <button class="button" (click)="connectToWebPrint()">Connect to WebPRNT</button>
                                        </div> -->

                                        <div class="form-group mt-5 d-print-none">
                                            <button *ngIf="status === false" class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" (click)="requestUsb()">Connect to USB</button>
                                        </div>

                                        <div class="form-group mt-5 d-print-none">
                                            <button class="btn themeauth-bg text-white btn-lg font-weight-medium auth-form-btn" (click)="print()" [disabled]="status === false"> <i class="fa fa-print"></i> Print!</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>